<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>SWTableViewCell</string>
		<key>Durl</key>
		<string>https://github.com/onevcat/SWTableViewCell</string>
		<key>Dtext</key>
		<string>国内开源作者，带很多手势的表单元格。
国内开源作者，带很多手势的表单元格。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MCSwipeTableViewCell</string>
		<key>Durl</key>
		<string>https://github.com/alikaragoz/MCSwipeTableViewCell</string>
		<key>Dtext</key>
		<string>带很多手势的表单元格。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TMQuiltView]</string>
		<key>Durl</key>
		<string>https://github.com/1000Memories/TMQuiltView</string>
		<key>Dtext</key>
		<string>瀑布流。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WaterfallFlowDemo</string>
		<key>Durl</key>
		<string>https://github.com/lengmolehongyan/WaterfallFlowDemo</string>
		<key>Dtext</key>
		<string>一个简单的UICollectionView瀑布流布局演示demo。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XLForm</string>
		<key>Durl</key>
		<string>https://github.com/xmartlabs/XLForm</string>
		<key>Dtext</key>
		<string>很多表格类的table,写法更高冷一点，推荐使用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RETableViewManager</string>
		<key>Durl</key>
		<string>https://github.com/romaonthego/RETableViewManager</string>
		<key>Dtext</key>
		<string>可以十分方便地生成各种样式、各种功能的TableView。只要开发者能想到的列表效果或者功能，都可以利用这份代码迅速编写出来。比如，之前要实现一个填写各种资料的列表，可能需要很多代码，现在只需要几行代码就可以实现。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UIScrollSlidingPages</string>
		<key>Durl</key>
		<string>https://github.com/TomThorpe/UIScrollSlidingPages</string>
		<key>Dtext</key>
		<string>允许添加多视图控件，并且可以横向滚动。有点类似于Groupon app。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HBHorizontalTableView</string>
		<key>Durl</key>
		<string>https://github.com/izyhuang/HBHorizontalTableView</string>
		<key>Dtext</key>
		<string>swift，TableView 横向滚动小示例（仿照 AppStore 应用展示）。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HorizontalScrollCell</string>
		<key>Durl</key>
		<string>https://github.com/mcelayir/HorizontalScrollCell</string>
		<key>Dtext</key>
		<string>HorizontalScrollCell是一款使用方便的水平方向可滚动的单元格，适用于UICollectionView中实现水片方向滚动视图。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SYJiugonggeTableView</string>
		<key>Durl</key>
		<string>https://github.com/shiyuan17/SYJiugonggeTableView</string>
		<key>Dtext</key>
		<string>tableView封装的九宫格。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UUChatTableView</string>
		<key>Durl</key>
		<string>https://github.com/ZhipingYang/UUChatTableView</string>
		<key>Dtext</key>
		<string>UUChatTableView 气泡聊天界面，支持文本、图片以及音频的气泡聊天界面。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Chats</string>
		<key>Durl</key>
		<string>https://github.com/acani/Chats</string>
		<key>Dtext</key>
		<string>聊天 UI 示例程序。此项目应该只为演示或学习之用，没有服务器 -- swift。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Atlas-iOS</string>
		<key>Durl</key>
		<string>https://github.com/layerhq/Atlas-iOS</string>
		<key>Dtext</key>
		<string>快速在iOS里集成聊天功能，类似开源版本的环信。Layer家开源了一套聊天app界面的解决方案.看起来很赞，很多蛮复杂的东西直接都帮封好了。不得不说现在做app开发真是很简单，大部分时间搭积木就可以了。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DLSlideView</string>
		<key>Durl</key>
		<string>https://github.com/agdsdl/DLSlideView</string>
		<key>Dtext</key>
		<string>DLSlideView对常见的顶部Tab页点击、滑动分页做了封装。它使用基于ViewController的container特性（而不是scrollview）来管理各个子页面，以支持无限分页。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VOVCManager</string>
		<key>Durl</key>
		<string>https://github.com/pozi119/VOVCManager</string>
		<key>Dtext</key>
		<string>页面管理器:1.跳转指定页面,只需要知道viewController的Class名,如果有storyboard,则需要指定storyboard名；2.无需添加基类；3.支持URLScheme跳转指定页面。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MBXPageViewController</string>
		<key>Durl</key>
		<string>https://github.com/Moblox/MBXPageViewController</string>
		<key>Dtext</key>
		<string>简洁快速的页面切换--MBXPageViewController，带有按钮控件的UIPageController，非常整洁、简单以及快速。该项目通过三种形式展示页面之间的切换，比如导航栏上的多个tab切换、页面左右两端箭头指示切换，以及使用分段控件。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PagerTab</string>
		<key>Durl</key>
		<string>https://github.com/ming1016/PagerTab</string>
		<key>Dtext</key>
		<string>UIScrollView实现滑动转换页面，类似网易云音乐iOS版的页面滑动切换效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GUITabPagerViewController</string>
		<key>Durl</key>
		<string>https://github.com/guilhermearaujo/GUITabPagerViewController</string>
		<key>Dtext</key>
		<string>多个tab滑动切换。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VOMetroLayoutDemo</string>
		<key>Durl</key>
		<string>https://github.com/pozi119/VOMetroLayoutDemo</string>
		<key>Dtext</key>
		<string>Metro风格的UICollectionView, 目前只支持横向布局,仅在iPad上应用。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYCellAnimation</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYCellAnimation</string>
		<key>Dtext</key>
		<string>给UITableViewCell增加进入的动画。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>COBezierTableView</string>
		<key>Durl</key>
		<string>https://github.com/knutigro/COBezierTableView</string>
		<key>Dtext</key>
		<string> swift，通过编辑 Bezier 曲线四点位置设置 TableView 内 Cell 及对应按扭位置。实验效果很赞。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RDVTabBarController</string>
		<key>Durl</key>
		<string>https://github.com/robbdimitrov/RDVTabBarController</string>
		<key>Dtext</key>
		<string>一个TabBar组件，可以方便设置底部菜单的文字图片，点击效果，小红点提示等。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LxTabBarController</string>
		<key>Durl</key>
		<string>https://github.com/DeveloperLx/LxTabBarController</string>
		<key>Dtext</key>
		<string>改变了原生tabbar切换tab时的生硬效果，并加入滑动切换手势（有和界面上的其它手势发生冲突的风险，可根据具体项目予以关闭）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UITableView-FDTemplateLayoutCell</string>
		<key>Durl</key>
		<string>https://github.com/forkingdog/UITableView-FDTemplateLayoutCell</string>
		<key>Dtext</key>
		<string> UITableView-FDTemplateLayoutCell 是一个方便缓存 UITableViewCell 的高度的框架。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ExpandingStackCells</string>
		<key>Durl</key>
		<string>https://github.com/jozsef-vesza/ExpandingStackCells</string>
		<key>Dtext</key>
		<string>采用 UIStackView 实现表格单元格扩展内容显示示例及解决方案。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Sapporo</string>
		<key>Durl</key>
		<string>https://github.com/nghialv/Sapporo</string>
		<key>Dtext</key>
		<string> swift 单元格模型驱动的集合视图管理器组件。又一个超实用的“轮子”。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MDIHorizontalSectionTableViewController</string>
		<key>Durl</key>
		<string>https://github.com/WeeTom/MDIHorizontalSectionTableViewController</string>
		<key>Dtext</key>
		<string>根据产品需求开源了一个交互项目，可以理解为横向Section的TableView，section和cell同时支持拖拽，后续安卓版本也会开源出来。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JZNavigationExtension</string>
		<key>Durl</key>
		<string>https://github.com/JazysYu/JZNavigationExtension</string>
		<key>Dtext</key>
		<string>多功能导航控制器，可以透明返回栏。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QuickRearrangeTableView</string>
		<key>Durl</key>
		<string>https://github.com/okla/QuickRearrangeTableView</string>
		<key>Dtext</key>
		<string>基于 UITableView 的快速重排功能扩展子类。通过长按选定单元格然后滚动移动到指定位置。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>uicollectionview-reordering</string>
		<key>Durl</key>
		<string>https://github.com/nshintio/uicollectionview-reordering</string>
		<key>Dtext</key>
		<string>UICollectionViews的拖拽(拖动、移动)效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DZNEmptyDataSet</string>
		<key>Durl</key>
		<string>https://github.com/dzenbot/DZNEmptyDataSet</string>
		<key>Dtext</key>
		<string>DZNEmptyDataSet算是一个很标准的iOS内建方式，适合用来处理空的table view和collection view。会自动将collection view处理完善，并将用户消息以合适美观的方式显示出来。每个iOS项目都可以自动处理。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MGSwipeTableCell</string>
		<key>Durl</key>
		<string>https://github.com/MortimerGoro/MGSwipeTableCell</string>
		<key>Dtext</key>
		<string>另一个常见于很多应用中的UI组件，苹果应该考虑在标准的iOS SDK中加入一些类似的内容。Swipeable表格cell是这个pod的最佳描述，也是最好的。</string>
	</dict>
</array>
</plist>
