<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>SloppySwiper</string>
		<key>Durl</key>
		<string>https://github.com/fastred/SloppySwiper</string>
		<key>Dtext</key>
		<string>iOS系统自带的UINavigationController要7.0才支持，但不过该手势只能从屏幕左侧边缘识别，如果要扩大到整个屏幕范围怎么办？配合一个SloppySwiper无需代码就可以轻松实现。此库支持iOS5.0以上版本</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SCNavigation</string>
		<key>Durl</key>
		<string>https://github.com/singro/SCNavigation</string>
		<key>Dtext</key>
		<string>UINavigation可以右滑返回，隐藏UINavigationBar。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UINavigationController-YRBackGesture</string>
		<key>Durl</key>
		<string>https://github.com/YueRuo/UINavigationController-YRBackGesture</string>
		<key>Dtext</key>
		<string>支持右滑返回手势，标题栏不动。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GHSidebarNav</string>
		<key>Durl</key>
		<string>https://github.com/gresrun/GHSidebarNav</string>
		<key>Dtext</key>
		<string>现在比较流行使用侧开(侧滑)菜单设计。试了不少控件，感觉GHSidebarNav最成熟，尤其对纯代码创建的界面兼容性最好。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS-Slide-Menu</string>
		<key>Durl</key>
		<string>https://github.com/aryaxt/iOS-Slide-Menu</string>
		<key>Dtext</key>
		<string>能够类似Facebook和Path那样弹出左右边栏侧滑菜单,还支持手势。多种可以自定义的属性 (非常不错)。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ECSlidingViewController</string>
		<key>Durl</key>
		<string>https://github.com/ECSlidingViewController/ECSlidingViewController</string>
		<key>Dtext</key>
		<string>侧滑菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JASidePanels</string>
		<key>Durl</key>
		<string>https://github.com/gotosleep/JASidePanels</string>
		<key>Dtext</key>
		<string>侧滑菜单,有左右菜单，有pop功能，支持手势侧滑,本人使用中：简单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>animated-tab-bar</string>
		<key>Durl</key>
		<string>https://github.com/Ramotion/animated-tab-bar</string>
		<key>Dtext</key>
		<string>让 Tabbar items能显示萌萌的动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>tabbar图标动画</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/ios/20150205/11116.html</string>
		<key>Dtext</key>
		<string>tabbar上图标的动画实现</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SideMenu</string>
		<key>Durl</key>
		<string>https://github.com/Yalantis/Side-Menu.iOS/tree/master/SideMenu</string>
		<key>Dtext</key>
		<string>swift实现，一款带动画效果可定制 Slide Menu，可以学习其动画实现思路。P.S. 对于Hamburger式菜单，虽然很常用，不过，苹果并不鼓励使用，甚至有开发小组对其弊病用自家上线应用前后数据对比进行了抨击。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RESideMenu</string>
		<key>Durl</key>
		<string>https://github.com/romaonthego/RESideMenu</string>
		<key>Dtext</key>
		<string>侧开菜单，qq类似。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JHMenuTableViewDemo</string>
		<key>Durl</key>
		<string>https://github.com/Jiahai/JHMenuTableViewDemo</string>
		<key>Dtext</key>
		<string>仿网易邮箱列表侧滑菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SlideMenuView</string>
		<key>Durl</key>
		<string>https://github.com/xudafeng/SlideMenuView</string>
		<key>Dtext</key>
		<string>炫酷侧滑菜单布局框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QQConfiguration</string>
		<key>Durl</key>
		<string>https://github.com/shinept/QQConfiguration</string>
		<key>Dtext</key>
		<string>swift，QQ-iPhone端框架，左侧菜单栏拖动手势。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KGFloatingDrawer</string>
		<key>Durl</key>
		<string>https://github.com/KyleGoddard/KGFloatingDrawer</string>
		<key>Dtext</key>
		<string>侧滑菜单，qq类似，KyleGoddard/KGFloatingDrawer：一款适合于大屏手机或平板的浮动抽屉式导航界面组件。效果很赞- 侧开菜单，qq类似（与RESideMenu类似）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AIFlatSwitch</string>
		<key>Durl</key>
		<string>https://github.com/cocoatoucher/AIFlatSwitch</string>
		<key>Dtext</key>
		<string>一款带平滑过渡动画的 Switch 组件类</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JHChainableAnimations</string>
		<key>Durl</key>
		<string>https://github.com/jhurray/JHChainableAnimations</string>
		<key>Dtext</key>
		<string>在应用中采用链式写出酷炫的动画效果, 使代码更加清晰易读，利用block实现的链式编程。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WXGSlideMenuDemo</string>
		<key>Durl</key>
		<string>https://github.com/WXGBridgeQ/WXGSlideMenuDemo</string>
		<key>Dtext</key>
		<string>一个简单实现侧拉（侧滑）菜单的小demo，供初学者共同学习、练习使用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PKRevealController</string>
		<key>Durl</key>
		<string>https://github.com/pkluz/PKRevealController</string>
		<key>Dtext</key>
		<string>PKRevealController是一个可以滑动的侧边栏菜单（可向左、向右或者同时向两侧），只需手指轻轻一点（或者按一下按钮，但是这样滑动时不够炫酷），这类控制的其他库，而PKRevealController是最棒的。安装简便，高度定制且对手势识别良好。可以当做一个标准控件用在iOS SDK中。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftPages</string>
		<key>Durl</key>
		<string>https://github.com/GabrielAlva/SwiftPages</string>
		<key>Dtext</key>
		<string>高可定制类似 Instagram 视图滑动切换功能类库。API 简单、易用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FlipBoardNavigationController</string>
		<key>Durl</key>
		<string>https://github.com/michaelhenry/FlipBoardNavigationController</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MMDrawerController</string>
		<key>Durl</key>
		<string>https://github.com/mutualmobile/MMDrawerController</string>
		<key>Dtext</key>
		<string> 最多人用的一个有关侧边“抽屉”导航框架，里面还有很多你意想不到的交互效果，侧滑。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UIWebView翻页返回效果</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/316925/UIWebView%E7%BF%BB%E9%A1%B5%E8%BF%94%E5%9B%9E%E6%95%88%E6%9E%9C%EF%BC%88%E5%8F%98%E9%80%9A%E6%96%B9%E6%B3%95%EF%BC%89/</string>
		<key>Dtext</key>
		<string>UIWebView翻页返回效果（变通方法）。</string>
	</dict>
</array>
</plist>
