<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>ios-class-guard</string>
		<key>Durl</key>
		<string>https://github.com/Polidea/ios-class-guard</string>
		<key>Dtext</key>
		<string>一个用于混淆iOS的类名、方法名以及变量名的开源库--有人反映编译出来的app运行不了。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>《Protecting iOS Applications</string>
		<key>Durl</key>
		<string>https://www.polidea.com/#!heartbeat/blog/Protecting_iOS_Applications</string>
		<key>Dtext</key>
		<string>文章系统地介绍了如何保护iOS程序的代码安全，防止反汇编分析。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>fishhook</string>
		<key>Durl</key>
		<string>https://github.com/facebook/fishhook</string>
		<key>Dtext</key>
		<string>fishhook是Facebook开源的一个可以hook系统方法的工具。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GesturePassword</string>
		<key>Durl</key>
		<string>https://github.com/smilingxinyi/GesturePassword</string>
		<key>Dtext</key>
		<string> 一个iOS手势密码功能实现，iPad/iPhone 都可以用，没有使用图片，里面可以通过view自己添加。keychain做的数据持久化，利用苹果官方KeychainItemWrapper类。操作部分都在controller了。删除直接用一下clear。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JMPasswordView</string>
		<key>Durl</key>
		<string>https://github.com/Juuman/JMPasswordView</string>
		<key>Dtext</key>
		<string>简单实用的手势密码，效果可自行调控。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>仿密码锁-九宫格</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/298556/%E4%BB%BF%E5%AF%86%E7%A0%81%E9%94%81-%E4%B9%9D%E5%AE%AB%E6%A0%BC/</string>
		<key>Dtext</key>
		<string>仿密码锁-九宫格，主要是使用UIButton 手势事件  UIBezierPath画图，解锁失败弹出“密码错误”。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreLock</string>
		<key>Durl</key>
		<string>https://github.com/nsdictionary/CoreLock</string>
		<key>Dtext</key>
		<string>本框架是高仿支付宝，并集成了所有功能，并非一个简单的解锁界面展示。个人制作用时1周多，打造解锁终结者框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LikeAlipayLockCodeView</string>
		<key>Durl</key>
		<string>https://github.com/crazypoo/LikeAlipayLockCodeView</string>
		<key>Dtext</key>
		<string>高仿支付宝手势解锁（超级版）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PCGestureUnlock</string>
		<key>Durl</key>
		<string>https://github.com/iosdeveloperpanc/PCGestureUnlock</string>
		<key>Dtext</key>
		<string>目前最全面最高仿支付宝的手势解锁，而且提供方法进行参数修改，能解决项目开发中所有手势解锁的开发。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ICPayPassWordDemo</string>
		<key>Durl</key>
		<string>https://github.com/icoder20150719/ICPayPassWordDemo</string>
		<key>Dtext</key>
		<string>CPayPassWordDemo，一个模仿支付宝支付密码输入对话框小demo。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RSAESCryptor</string>
		<key>Durl</key>
		<string>https://github.com/bigsan/RSAESCryptor</string>
		<key>Dtext</key>
		<string>加密 RSA+AES Encryption/Decryption library for iOS. This library uses 2048-bit RSA and 256-bit key with 128-bit block size AES for encryption/decryption。</string>
	</dict>
</array>
</plist>
