<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>WCAlertView</string>
		<key>Durl</key>
		<string>https://github.com/m1entus/WCAlertView</string>
		<key>Dtext</key>
		<string> 自定义的对话框。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>IOS7AlertView</string>
		<key>Durl</key>
		<string>https://github.com/wimagguc/ios-custom-alertview</string>
		<key>Dtext</key>
		<string>IOS7AlertView的对话框。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AMSmoothAlert</string>
		<key>Durl</key>
		<string>https://github.com/mtonio91/AMSmoothAlert</string>
		<key>Dtext</key>
		<string>动画效果不错，最多star，但不支持arm64。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DQAlertView</string>
		<key>Durl</key>
		<string>https://github.com/dinhquan/DQAlertView</string>
		<key>Dtext</key>
		<string>扁平化的样式不错。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HHAlertView</string>
		<key>Durl</key>
		<string>https://github.com/mrchenhao/HHAlertView</string>
		<key>Dtext</key>
		<string>一个简易的alertview  有三种样式，有成功，失败，和警告三种样式，支持Delegate和block两种回调。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MJPopupViewController</string>
		<key>Durl</key>
		<string>https://github.com/martinjuhasz/MJPopupViewController</string>
		<key>Dtext</key>
		<string>实现弹出视图的各种弹出和消失效果，包括淡入淡出（fade in，fade out），从屏幕上方飞进，下方飞出，从屏幕左方飞进，右方飞出等等效果，弹窗。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Menu</string>
		<key>Durl</key>
		<string>https://github.com/fengchuanxiang/Menu</string>
		<key>Dtext</key>
		<string>项目中可能会用到的常用菜单，以后有时间会继续补充，弹窗。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>EasyTipView</string>
		<key>Durl</key>
		<string>https://github.com/teodorpatras/EasyTipView</string>
		<key>Dtext</key>
		<string>弹出提示框类及演示示例。同样地，API 简单、易用。好“轮子”，弹窗。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>kxmenu</string>
		<key>Durl</key>
		<string>https://github.com/kolyvan/kxmenu</string>
		<key>Dtext</key>
		<string>kxmenu弹出菜单，点击视图上任意位置的按钮，会弹出一个菜单，并且有个小箭头指向点击的按钮，类似气泡视图。弹出的菜单位置会根据按钮的位置来进行调整。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QBPopupMenu</string>
		<key>Durl</key>
		<string>https://github.com/questbeat/QBPopupMenu</string>
		<key>Dtext</key>
		<string> QBPopupMenu弹出菜单，实现类似 UIMenuItem 的弹出菜单按钮。点击按钮，会弹出一个菜单，上面可以排列多个按钮。纯代码实现，不需要任何图片。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>STModalDemo</string>
		<key>Durl</key>
		<string>https://github.com/zhenlintie/STModalDemo</string>
		<key>Dtext</key>
		<string>弹出视图（通知，提示，选择，窗口）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TAOverlay</string>
		<key>Durl</key>
		<string>https://github.com/TaimurAyaz/TAOverlay</string>
		<key>Dtext</key>
		<string>TAOverlay可通过叠加层展示有用的信息，可自定义文本和背景色，添加阴影和模糊效果，以及更改字体大小或者用自定义图片替换页面上的icon。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UICustomActionSheet</string>
		<key>Durl</key>
		<string>https://github.com/pchernovolenko/UICustomActionSheet</string>
		<key>Dtext</key>
		<string>通过模糊背景来着重强调与菜单相关的元素--模糊效果 里面已经收藏。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ActionSheetPicker-3.0</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/232178</string>
		<key>Dtext</key>
		<string>该项目是此前热门项目ActionSheetPicker的新版本，快速复制了iOS 8上的下拉 UIPickerView/ActionSheet功能。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MJAlertView</string>
		<key>Durl</key>
		<string>https://github.com/mayuur/MJAlertView</string>
		<key>Dtext</key>
		<string> 3D效果转场效果警示图--MJAlertView。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftyDrop</string>
		<key>Durl</key>
		<string>https://github.com/morizotter/SwiftyDrop</string>
		<key>Dtext</key>
		<string>轻量、易用的小清新弹出列表及信息提示组件真心不错。</string>
	</dict>
</array>
</plist>
