<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>RTLabel</string>
		<key>Durl</key>
		<string>https://github.com/honcheng/RTLabel</string>
		<key>Dtext</key>
		<string> 富文本。
 富文本。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RTLabel</string>
		<key>Durl</key>
		<string>https://github.com/bingxue314159/RTLabel</string>
		<key>Dtext</key>
		<string>富文本，RTLabel支持64位。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TYAttributedLabel]</string>
		<key>Durl</key>
		<string>https://github.com/12207480/TYAttributedLabel</string>
		<key>Dtext</key>
		<string>TYAttributedLabel。 简单易用的属性文本控件(无需了解CoreText)，支持富文本，图文混排显示，支持添加链接，image和UIView控件，支持自定义排版显示。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TQRichTextView</string>
		<key>Durl</key>
		<string>https://github.com/TinyQ/TQRichTextView</string>
		<key>Dtext</key>
		<string>用于做富文本视图控件显示，用于即时通讯的表情显示，以及资源评论的富文本显示。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TTTAttributedLabel</string>
		<key>Durl</key>
		<string>(https://github.com/mattt/TTTAttributedLabel</string>
		<key>Dtext</key>
		<string>一个文字视图开源组件，是UILabel的替代元件，可以以简单的方式展现渲染的属性字符串。另外，还支持链接植入，不管是手动还是使用UIDataDetectorTypes自动把电话号码、事件、地址以及其他信息变成链接。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MLEmojiLabel</string>
		<key>Durl</key>
		<string>https://github.com/molon/MLEmojiLabel</string>
		<key>Dtext</key>
		<string>自动识别网址、号码、邮箱、@、#话题#和表情的label。可以自定义自己的表情识别正则，和对应的表情图像。(默认是识别微信的表情符号)，继承自TTTAttributedLabel，所以可以像label一样使用。label的特性全都有，使用起来更友好更方便。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FXLabel</string>
		<key>Durl</key>
		<string>https://github.com/nicklockwood/FXLabel</string>
		<key>Dtext</key>
		<string>FXLabel是一个功能强大使用简单的类库，通过提供一个子类改进了标准的UILabel组件，为字体增加了阴影、内阴影和渐变色等，可以被用在任何标准的UILabel中。FXLabel还提供了更多控件，可以对字体行距、字体间距等进行调整。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WFReader</string>
		<key>Durl</key>
		<string>https://github.com/TigerWf/WFReader</string>
		<key>Dtext</key>
		<string>一款简单的coretext阅读器，支持文本选择、高亮以及字体大小选择等。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WPAttributedMarkup</string>
		<key>Durl</key>
		<string>https://github.com/nigelgrange/WPAttributedMarkup</string>
		<key>Dtext</key>
		<string>WPAttributedMarkup is a simple utility category that can be used to easily create an attributed string from text with markup tags and a style dictionary。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KMPlaceholderTextView</string>
		<key>Durl</key>
		<string>https://github.com/MoZhouqi/KMPlaceholderTextView</string>
		<key>Dtext</key>
		<string>可显示多行 placeholder 的 textView，可以在IB里面设置 -- swift。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HHFlashSwitch</string>
		<key>Durl</key>
		<string>https://github.com/mrchenhao/HHFlashSwitch</string>
		<key>Dtext</key>
		<string>一个另类的UISwitch，选择后，背景水波扩散变色效果。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UUColorSwitch</string>
		<key>Durl</key>
		<string>https://github.com/zhangyu9050/UUColorSwitch</string>
		<key>Dtext</key>
		<string>Switch 开关动画效果,当打开开关时，Switch可实现平滑渲染过渡到父视图的效果。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Shimmer</string>
		<key>Durl</key>
		<string>https://github.com/facebook/Shimmer</string>
		<key>Dtext</key>
		<string>BlingBling闪光效果，酷炫的Label的效果，可以用于加载等待提示。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZSSRichTextEditor</string>
		<key>Durl</key>
		<string>https://github.com/nnhubbard/ZSSRichTextEditor</string>
		<key>Dtext</key>
		<string> 适用于iOS的富文本WYSIWYG编辑器，支持语法高亮和源码查看。ZSSRichTextEditor包含所有WYSIWYG标准的编辑器工具。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RichEditorView</string>
		<key>Durl</key>
		<string>https://github.com/cjwirth/RichEditorView</string>
		<key>Dtext</key>
		<string> swift，一套可定制富文本编辑器组件及示例。功能完整、代码简练、实现逻辑巧妙（编辑器核心与 WebView 结合，采用 HTML5 contentEditable 编辑模式，执行JS 配套命令 execCommand 实现富文本编辑功能）。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DTCoreText</string>
		<key>Durl</key>
		<string>https://github.com/Cocoanetics/DTCoreText</string>
		<key>Dtext</key>
		<string>可以解析HTML与CSS最终用CoreText绘制出来，通常用于在一些需要显示富文本的场景下代替低性能的UIWebView。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CSGrowingTextView</string>
		<key>Durl</key>
		<string>https://github.com/cloverstudio/CSGrowingTextView</string>
		<key>Dtext</key>
		<string>用作即时通讯文本框和评论文本框使用，可以显示多行输入。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MarkdownTextView</string>
		<key>Durl</key>
		<string>https://github.com/indragiek/MarkdownTextView</string>
		<key>Dtext</key>
		<string>显示Markdown的TextView。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>高仿微信限定行数文字内容</string>
		<key>Durl</key>
		<string>http://d.cocoachina.com/code/detail/300299</string>
		<key>Dtext</key>
		<string>采用Autolayout高仿微信纯文字限定行数。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FuriganaTextView</string>
		<key>Durl</key>
		<string>https://github.com/lingochamp/FuriganaTextView</string>
		<key>Dtext</key>
		<string>实现复杂的日文韩文排版。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ParkedTextField</string>
		<key>Durl</key>
		<string>https://github.com/gmertk/ParkedTextField</string>
		<key>Dtext</key>
		<string>带固定文本的输入组件。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LTMorphingLabel</string>
		<key>Durl</key>
		<string>https://github.com/lexrus/LTMorphingLabel</string>
		<key>Dtext</key>
		<string>swift 能够实现文字变形动画效果的Label，用Swift写的一个能够实现文字变形动画效果的Label，很炫。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GJCFCoreText</string>
		<key>Durl</key>
		<string>https://github.com/zyprosoft/GJCFCoreText</string>
		<key>Dtext</key>
		<string>图文混排。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AttributedLabel</string>
		<key>Durl</key>
		<string>https://github.com/KyoheiG3/AttributedLabel</string>
		<key>Dtext</key>
		<string>显示性能数量级 UILabel 的 AttributedLabel。无畏无惧、挑战权威。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FFLabel</string>
		<key>Durl</key>
		<string>https://github.com/liufan321/FFLabel</string>
		<key>Dtext</key>
		<string> 自动检测 URLs, @username, #topic# 等关链词（提供响应扩展）。实用的标签文本小组件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TextFieldEffects</string>
		<key>Durl</key>
		<string>https://github.com/raulriera/TextFieldEffects</string>
		<key>Dtext</key>
		<string>标准的UITextField有些枯燥么？来认识一下TextFieldEffects吧！废话不多说，只要看几个例子,是啊，都是些简单的dropin控制器。甚至可以在storyboard中使用IBDesignables。</string>
	</dict>
</array>
</plist>
