<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>UIImageView-PlayGIF</string>
		<key>Durl</key>
		<string>https://github.com/yfme/UIImageView-PlayGIF</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>YLGIFImage</string>
		<key>Durl</key>
		<string>https://github.com/liyong03/YLGIFImage</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>YLGIFImage-Swift</string>
		<key>Durl</key>
		<string>https://github.com/liyong03/YLGIFImage-Swift</string>
		<key>Dtext</key>
		<string></string>
	</dict>
</array>
</plist>
