<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>自定义转场动画</string>
		<key>Durl</key>
		<string>http://www.jianshu.com/p/38cd35968864</string>
		<key>Dtext</key>
		<string> 3 种方法～ 关于自定义转场动画。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS提高效率的方法和工具</string>
		<key>Durl</key>
		<string>http://lcepy.github.io/2015/07/14/iOS%E6%8F%90%E9%AB%98%E6%95%88%E7%8E%87%E7%9A%84%E6%96%B9%E6%B3%95%E5%92%8C%E5%B7%A5%E5%85%B7/</string>
		<key>Dtext</key>
		<string>iOS提高效率的方法和工具。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>用 JSON 构建 API 的标准指南</string>
		<key>Durl</key>
		<string>http://jsonapi.org.cn/</string>
		<key>Dtext</key>
		<string>用 JSON 构建 API 的标准指南。</string>
	</dict>
</array>
</plist>
