<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>豆瓣iOS开源库列表</string>
		<key>Durl</key>
		<string>http://www.douban.com/note/276160185/?type=like</string>
		<key>Dtext</key>
		<string>豆瓣iOS开源库列表，很多开源项目。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS-Core-Animation-Advanced-Techniques</string>
		<key>Durl</key>
		<string>https://github.com/AttackOnDobby/iOS-Core-Animation-Advanced-Techniques</string>
		<key>Dtext</key>
		<string>中文版iOS 高级动画技术。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS开发的一些奇巧淫技1</string>
		<key>Durl</key>
		<string>http://www.jianshu.com/p/50b63a221f09</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TableView不显示没内容的Cell怎么办; 键盘事件：IQKeyboardManager</string>
		<key>Durl</key>
		<string>https://github.com/hackiftekhar/IQKeyboardManager</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KMCGeigerCounter</string>
		<key>Durl</key>
		<string>https://github.com/kconner/KMCGeigerCounter</string>
		<key>Dtext</key>
		<string>解决 app 不流畅</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MagicalRecord</string>
		<key>Durl</key>
		<string>https://github.com/magicalpanda/MagicalRecord</string>
		<key>Dtext</key>
		<string>代替 CoreData 用起来好烦</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CSStickyHeaderFlowLayout</string>
		<key>Durl</key>
		<string>https://github.com/jamztang/CSStickyHeaderFlowLayout</string>
		<key>Dtext</key>
		<string>CollectionView实现悬停的header</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS开发的一些奇巧淫技2</string>
		<key>Durl</key>
		<string>http://www.jianshu.com/p/08f194e9904c</string>
		<key>Dtext</key>
		<string>用一个pan手势来代替UISwipegesture的各个方向、拉伸图片、播放GIF、上拉刷新、把tableview里cell的小对勾的颜色改变、navigationbar弄成透明的而不是带模糊的效果、改变uitextfield placeholder的颜色和位置。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>cocoapods安装指南</string>
		<key>Durl</key>
		<string>http://code4app.com/article/cocoapods-install-usage</string>
		<key>Dtext</key>
		<string>cocoapods安装指南。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RemoteControl</string>
		<key>Durl</key>
		<string>https://github.com/johnno1962/Remote</string>
		<key>Dtext</key>
		<string>Control your iPhone from inside Xcode for end-to-end testing。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MVVM 介绍</string>
		<key>Durl</key>
		<string>http://objccn.io/issue-13-1/</string>
		<key>Dtext</key>
		<string>替换MVC的开发模式。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>第三方接口</string>
		<key>Durl</key>
		<string>http://apistore.baidu.com/astore/index</string>
		<key>Dtext</key>
		<string>基本所有第三方接口都在这，再也不用那么麻烦去找了。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>提高iOS开发效率的方法和工具</string>
		<key>Durl</key>
		<string>http://yyny.me/ios/%E6%8F%90%E9%AB%98iOS%E5%BC%80%E5%8F%91%E6%95%88%E7%8E%87%E7%9A%84%E6%96%B9%E6%B3%95%E5%92%8C%E5%B7%A5%E5%85%B7/</string>
		<key>Dtext</key>
		<string>提高iOS开发效率的方法和工具。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>禅与 Objective-C 编程艺术</string>
		<key>Durl</key>
		<string>https://github.com/oa414/objc-zen-book-cn</string>
		<key>Dtext</key>
		<string>禅与 Objective-C 编程艺术 （Zen and the Art of the Objective-C Craftsmanship 中文翻译）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Objective-C编码规范：26个方面解决iOS开发问题</string>
		<key>Durl</key>
		<string>http://www.imooc.com/article/1216</string>
		<key>Dtext</key>
		<string>Objective-C编码规范：26个方面解决iOS开发问题：“我们制定Objective-C编码规范的原因是我们能够在我们的书，教程和初学者工具包的代码保持优雅和一致。”今天分享的规范来自raywenderlich.com团队成员共同完成的，希望对学习OC的朋友们有所指导和帮助。
</string>
	</dict>
</array>
</plist>
