<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>WG_Retina_Icons</string>
		<key>Durl</key>
		<string>https://github.com/markohlebar/Peckham</string>
		<key>Dtext</key>
		<string>一套支持 Retina 高清屏的 iPhone 免费图标集。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ASCIImage</string>
		<key>Durl</key>
		<string>https://github.com/cparnot/ASCIImage</string>
		<key>Dtext</key>
		<string>使用 NSString 创建 image。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>my-sketch-colors</string>
		<key>Durl</key>
		<string>https://github.com/RayPS/my-sketch-colors</string>
		<key>Dtext</key>
		<string> 配色。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Font Awesome</string>
		<key>Durl</key>
		<string>http://www.imooc.com/wenda/detail/250367</string>
		<key>Dtext</key>
		<string>Font Awesome：一套绝佳的图标字体库和CSS框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Font Awesome 官方网站</string>
		<key>Durl</key>
		<string>http://fortawesome.github.io/Font-Awesome/icons/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DynamicColor</string>
		<key>Durl</key>
		<string>https://github.com/yannickl/DynamicColor</string>
		<key>Dtext</key>
		<string>强大的颜色操作扩展类。通过该类，你可以通过扩展方法基于某个颜色得到不同深浅、饱和度、灰度、色相，以及反转后的新颜色。是不可多得的好类库。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Chameleon</string>
		<key>Durl</key>
		<string>https://github.com/ViccAlexander/Chameleon</string>
		<key>Dtext</key>
		<string>Chameleon是一个iOS的色彩框架。它运用现代化flat color将UIColor扩展地非常美观。我们还可以通过它运用自定义颜色创建调色板。它还有很多功用，请浏览readme。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FontBlaster</string>
		<key>Durl</key>
		<string>https://github.com/ArtSabintsev/FontBlaster</string>
		<key>Dtext</key>
		<string>载入定制字体时更简单。</string>
	</dict>
</array>
</plist>
