<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>FXBlurView</string>
		<key>Durl</key>
		<string>https://github.com/nicklockwood/FXBlurView</string>
		<key>Dtext</key>
		<string>支持iOS5.0以上版本，支持静态、动态模糊效果，继承与UIView的模糊特效。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VVBlurPresentation</string>
		<key>Durl</key>
		<string>https://github.com/onevcat/VVBlurPresentation</string>
		<key>Dtext</key>
		<string>很简单易用的在原来viewconntroller基础上做模糊，然后present新的viewcontroller的。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>[UICustomActionSheet</string>
		<key>Durl</key>
		<string>https://github.com/pchernovolenko/UICustomActionSheet</string>
		<key>Dtext</key>
		<string>通过模糊背景来着重强调与菜单相关的元素--对话框 里面已经收藏。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SABlurImageView</string>
		<key>Durl</key>
		<string>https://github.com/szk-atmosphere/SABlurImageView</string>
		<key>Dtext</key>
		<string> 支持渐变动画效果的图像模糊化类库。P.S. 与前几天推存类库 SAHistoryNavigationViewController 是同一位作者。
</string>
	</dict>
</array>
</plist>
