<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>AwesomeMenu</string>
		<key>Durl</key>
		<string>https://github.com/levey/AwesomeMenu</string>
		<key>Dtext</key>
		<string>最多人用的Path菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DCPathButton</string>
		<key>Durl</key>
		<string>https://github.com/Tangdixi/DCPathButton</string>
		<key>Dtext</key>
		<string>Path，4.0的弹出菜单，呼出或者关闭菜单时，多个小图标会分别按照逆时针和顺时针的方向进行滚动。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SphereMenu</string>
		<key>Durl</key>
		<string>https://github.com/itouch2/SphereMenu</string>
		<key>Dtext</key>
		<string>利用UIDynamicAnimator的有趣的菜单，path类似。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYGooeyMenu</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYGooeyMenu</string>
		<key>Dtext</key>
		<string> KYGooeyMenu 是一个具有 Gooey Effects 带粘性的扇形菜单控件(卫星菜单、path)。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TwitterPaggingViewer</string>
		<key>Durl</key>
		<string>https://github.com/xhzengAIB/TwitterPaggingViewer</string>
		<key>Dtext</key>
		<string>多个Tableview，左右滑动。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CircularProgressControl</string>
		<key>Durl</key>
		<string>https://github.com/carantes/CircularProgressControl</string>
		<key>Dtext</key>
		<string>Circular Progress Control using CAShapeLayer ，环形进度控制条。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KDCircularProgress</string>
		<key>Durl</key>
		<string>https://github.com/kaandedeoglu/KDCircularProgress</string>
		<key>Dtext</key>
		<string>KDCircularProgress是使用swift制作的色彩炫丽的进度条，可以加入多种颜色来控制进度条的渐变效果。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TextProgress</string>
		<key>Durl</key>
		<string>https://github.com/cgwangding/TextProgress</string>
		<key>Dtext</key>
		<string>自定义实现数字进度条：1、可以自定义数字（0-100），填充的比例为当前设置的数字，2、可以实现自定义填充颜色，上下部分都可以，3、可以自定义边界的颜色4、实现了水波动画，可以设置打开或关闭。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SDProgressView</string>
		<key>Durl</key>
		<string>https://github.com/gsdios/SDProgressView</string>
		<key>Dtext</key>
		<string>简便美观的进度指示器，此系列共有六种样式的进度指示器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>NVActivityIndicatorView</string>
		<key>Durl</key>
		<string>https://github.com/ninjaprox/NVActivityIndicatorView</string>
		<key>Dtext</key>
		<string>loading 进度条动画，有20-30多种，是在此[DGActivityIndicatorView](https://github.com/gontovnik/DGActivityIndicatorView) 基础上做得修改。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LoopProgressDemo</string>
		<key>Durl</key>
		<string>https://github.com/saitjr/LoopProgressDemo</string>
		<key>Dtext</key>
		<string>环形渐变进度条。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>环形渐变进度条实现</string>
		<key>Durl</key>
		<string>http://www.superqq.com/blog/2015/08/12/realization-circular-gradient-progress/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XLPagerTabStrip</string>
		<key>Durl</key>
		<string>https://github.com/xmartlabs/XLPagerTabStrip</string>
		<key>Dtext</key>
		<string>做的很棒的iOS下的PagerTabStrip。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RandomColorSwift</string>
		<key>Durl</key>
		<string>https://github.com/onevcat/RandomColorSwift</string>
		<key>Dtext</key>
		<string>一个自动生成好看的颜色的 Swift 库，RandomColorSwift。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HexColorService</string>
		<key>Durl</key>
		<string>https://github.com/ChangweiZhang/HexColorService</string>
		<key>Dtext</key>
		<string>将16进制颜色字符串转成UIColor。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Rainbow</string>
		<key>Durl</key>
		<string>https://github.com/NorthernRealities/Rainbow</string>
		<key>Dtext</key>
		<string>旨在提高代码可读性及易用性的 UIColor 扩展，它使原先有限的预定义颜色（方法）选择，扩展至超过 1200 种。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UIColor-ChineseTraditionalColors</string>
		<key>Durl</key>
		<string>https://github.com/zhxnlai/UIColor-ChineseTraditionalColors</string>
		<key>Dtext</key>
		<string> 中国传统颜色引用 UIColor 扩展。“UIColor.桃红()，UIColor.竹青() ...”，共158种。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>类似美团的下拉菜单</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/284158</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>类似美团的下拉选项</string>
		<key>Durl</key>
		<string>http://code4app.com/ios/%E7%B1%BB%E4%BC%BC%E7%BE%8E%E5%9B%A2%E7%9A%84%E4%B8%8B%E6%8B%89%E9%80%89%E9%A1%B9/538606d4933bf06e0a8b496e</string>
		<key>Dtext</key>
		<string>类似于美团、大众点评的下拉菜单选项，code4app代码，评论代码有瑕疵。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CRMediaPickerController</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/284267</string>
		<key>Dtext</key>
		<string>一个简单易用的图片/视频选择器。1.可同时选择照片和视频。 2.挑选范围有Camera、Camera Roll、Photo Library以及最近拍摄的照片和视频。3.可自定义UIImagePickerController属性（Camera Overlay、Camera Device、Camera View Transform以及allowsEditing）。4.支持横屏和竖屏5.原生的iOS UI。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MDCSwipeToChoose</string>
		<key>Durl</key>
		<string>https://github.com/modocache/MDCSwipeToChoose</string>
		<key>Dtext</key>
		<string> MDCSwipeToChoose可简单地添加滑动手势来调用UIView，并使用该行为提供了一个组件以创建类似Tinder app的like或者dislike界面的轻扫。基于轻扫的方向，你可以决定执行什么样的行为，并且你可以自定义文本颜色和图片。该项目适用于教学用的抽认卡、图片查看器以及其他等。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS Material Design库</string>
		<key>Durl</key>
		<string>http://d.cocoachina.com/code/detail/285611</string>
		<key>Dtext</key>
		<string>该项目借鉴于谷歌的Material Design guideline，用户可自定义背景色。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Material-Controls-For-iOS</string>
		<key>Durl</key>
		<string>https://github.com/fpt-software/Material-Controls-For-iOS</string>
		<key>Dtext</key>
		<string> Material Design风格的各种控件，非常完整全面。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZMaterialDesignUIButton</string>
		<key>Durl</key>
		<string>https://github.com/richzertuche/ZMaterialDesignUIButton</string>
		<key>Dtext</key>
		<string>Swift Material Design UIButton。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MediumScrollFullScreen</string>
		<key>Durl</key>
		<string>https://github.com/pixyzehn/MediumScrollFullScreen</string>
		<key>Dtext</key>
		<string>Medium的可扩展滚动页面，上下滚动时，全屏显示内容，并自然消隐上下菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WZFlashButton</string>
		<key>Durl</key>
		<string>https://github.com/SatanWoo/WZFlashButton</string>
		<key>Dtext</key>
		<string> WZFlashButton，点击后button里面出现水波扩散效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Twinkle</string>
		<key>Durl</key>
		<string>https://github.com/piemonte/Twinkle</string>
		<key>Dtext</key>
		<string>为字体加上钻石版闪耀的效果。使用Swift编写。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ios-multi-back-button</string>
		<key>Durl</key>
		<string>https://github.com/palmin/ios-multi-back-button</string>
		<key>Dtext</key>
		<string>可替换内置的UInavigationController返回按钮，长按左上角的返回按钮，实现多层级的快速返回。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ASDayPicker</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/226543</string>
		<key>Dtext</key>
		<string>适用于iOS (iPhone)的日期选择器，类似于Calendar app的周视图。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>today extension</string>
		<key>Durl</key>
		<string>http://adad184.com/2014/10/29/2014-10-29-how-to-setup-today-extension-programmatically/</string>
		<key>Dtext</key>
		<string>用纯代码构建一个Widget(today extension) 。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FSCalendar</string>
		<key>Durl</key>
		<string>https://github.com/f33chobits/FSCalendar</string>
		<key>Dtext</key>
		<string>日历视图，带有微妙和平滑的滚动效果，可自定义外观--国人。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HSDatePickerViewController</string>
		<key>Durl</key>
		<string>https://github.com/EmilYo/HSDatePickerViewController</string>
		<key>Dtext</key>
		<string>带有Dropbox Mailbox感觉的时间日期选择器。启动是背景被模糊化。界面也是主流的扁平化风格。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CFCityPickerVC</string>
		<key>Durl</key>
		<string>https://github.com/nsdictionary/CFCityPickerVC</string>
		<key>Dtext</key>
		<string>城市选取控制器。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JTCalendar</string>
		<key>Durl</key>
		<string>https://github.com/jonathantribouharet/JTCalendar</string>
		<key>Dtext</key>
		<string>iOS下优美的 Calendar 组件，做 GTD 类 App 必备。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Persei</string>
		<key>Durl</key>
		<string>https://github.com/Yalantis/Persei</string>
		<key>Dtext</key>
		<string>动画隐藏或显示顶部菜单支持库及示例项目。--swift</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PDTSimpleCalendar</string>
		<key>Durl</key>
		<string>https://github.com/jivesoftware/PDTSimpleCalendar</string>
		<key>Dtext</key>
		<string>是iOS最棒的日历组件了。你可以在各个方面对它进行定制，无论是运行逻辑还是外观方面。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Form</string>
		<key>Durl</key>
		<string>https://github.com/hyperoslo/Form</string>
		<key>Dtext</key>
		<string>JSON 驱动的 Form表单系统，复杂的表单填写类 App 极其需要（比如淘宝呢！）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftyFORM</string>
		<key>Durl</key>
		<string>https://github.com/neoneye/SwiftyFORM</string>
		<key>Dtext</key>
		<string>swift 表单输入框架（亮点是表单验证规则引擎），是我见过地最易用的 Swift 表单组件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftSpinner</string>
		<key>Durl</key>
		<string>https://github.com/icanzilb/SwiftSpinner</string>
		<key>Dtext</key>
		<string>SwiftSpinner是使用swift制作的一款精致带感的指示器，并且连带有字体信息显示，模糊背景，半透明，扁平化等IOS8的效果。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AKPickerView-Swift</string>
		<key>Durl</key>
		<string>https://github.com/Akkyie/AKPickerView-Swift</string>
		<key>Dtext</key>
		<string>一款小而美的 3D 效果选择器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ImagePickerSheet</string>
		<key>Durl</key>
		<string>https://github.com/larcus94/ImagePickerSheet</string>
		<key>Dtext</key>
		<string>图片或视频选择器（可多选）组件及其示例项目。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS-RatingBar</string>
		<key>Durl</key>
		<string>https://github.com/saiwu-bigkoo/iOS-RatingBar</string>
		<key>Dtext</key>
		<string>iOS-RatingBar swift版的评分控件,跟Android的RatingBar一样有两种模式，评分模式和只读模式&apos;支持视图编辑，自定义星星数量，评分等级,另外还能支持非整数星，0.5颗星，0.1颗星,可以开启动画效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RKNotificationHub</string>
		<key>Durl</key>
		<string>https://github.com/cwRichardKim/RKNotificationHub</string>
		<key>Dtext</key>
		<string>快速给 UIView 添加上炫酷的通知图标（Badge、红点、提示）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WZLBadge</string>
		<key>Durl</key>
		<string>https://github.com/weng1250/WZLBadge</string>
		<key>Dtext</key>
		<string>Badge，支持横竖屏支持iOS5~iOS8允许高度定制化，包括“红点”的背景颜色，文字(字体大小、颜色)，位置等。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BubbleTransition</string>
		<key>Durl</key>
		<string>https://github.com/andreamazz/BubbleTransition</string>
		<key>Dtext</key>
		<string>以气泡膨胀和缩小的动画效果来显示和移除 controller，Uber的就是这种取消操作的方式。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYFloatingBubble</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYFloatingBubble</string>
		<key>Dtext</key>
		<string>类似iOS7中Game Center浮动气泡的效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DKNightVersion</string>
		<key>Durl</key>
		<string>https://github.com/Draveness/DKNightVersion</string>
		<key>Dtext</key>
		<string>DKNightVersion 是一个支持夜间模式切换的框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LxGridView-oc</string>
		<key>Durl</key>
		<string>https://github.com/DeveloperLx/LxGridView</string>
		<key>Dtext</key>
		<string>利用UICollectionView模仿iOS系统桌面图标的交互，作用如动图。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QQBtn</string>
		<key>Durl</key>
		<string>https://github.com/ZhongTaoTian/QQBtn</string>
		<key>Dtext</key>
		<string>仿QQ未读消息弹性按钮动画，达到和手机QQ未读信息一样的动画效果，效果基本实现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GMStepper</string>
		<key>Durl</key>
		<string>https://github.com/gmertk/GMStepper</string>
		<key>Dtext</key>
		<string>swift 带动画效果、支持手势滑动操作的步进标签。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TZStackView</string>
		<key>Durl</key>
		<string>https://github.com/tomvanzummeren/TZStackView</string>
		<key>Dtext</key>
		<string>OS 9 UIStackView 功能模拟实现于 iOS 7/ iOS 8 内。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LayoutTrait</string>
		<key>Durl</key>
		<string>https://github.com/441088327/LayoutTrait</string>
		<key>Dtext</key>
		<string>swift 一个小类库。 做iPad 多任务分屏 适配的同学可以看一下。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HACursor</string>
		<key>Durl</key>
		<string>https://github.com/HAHAKea/HACursor</string>
		<key>Dtext</key>
		<string>HACursor，是一个对横向ScrollView中的视图进行管理的UI控件。只要几行代码就可以集成类似于网易新闻对主题页面进行排序，删除操作的功能。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZTPageController</string>
		<key>Durl</key>
		<string>https://github.com/IOStao/ZTPageController</string>
		<key>Dtext</key>
		<string>模仿网易新闻和其他新闻样式做的一个菜单栏，栏中有各自的控制器，其中有4中展示样式’网易style&apos; ’搜狐style&apos; ’腾讯style1&apos; ’网易style2&apos; 。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Ruler</string>
		<key>Durl</key>
		<string>https://github.com/nixzhu/Ruler</string>
		<key>Dtext</key>
		<string>尺子。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HUMSlider</string>
		<key>Durl</key>
		<string>https://github.com/justhum/HUMSlider</string>
		<key>Dtext</key>
		<string>HUMSlider是一款能够自动显示刻度记号的滑竿，滑动到某处，该处的刻度会自动上升，两边还能配置图像。支持代码或storyboard中实现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JDSelectedDemo</string>
		<key>Durl</key>
		<string>https://github.com/zhangli4659507/JDSelectedDemo</string>
		<key>Dtext</key>
		<string>仿京东筛选菜单实现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BTNavigationDropdownMenu</string>
		<key>Durl</key>
		<string>https://github.com/PhamBaTho/BTNavigationDropdownMenu</string>
		<key>Dtext</key>
		<string>下拉列表暨导航标题组件。简单、直接、易用 -swift。
</string>
	</dict>
</array>
</plist>
