<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>githuber</string>
		<key>Durl</key>
		<string>http://githuber.info/#/index</string>
		<key>Dtext</key>
		<string>最好用的GitHub人才搜索工具。   </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>codatlas</string>
		<key>Durl</key>
		<string>https://www.codatlas.com</string>
		<key>Dtext</key>
		<string>源代码搜索利器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>searchcode</string>
		<key>Durl</key>
		<string>https://searchcode.com/</string>
		<key>Dtext</key>
		<string>源代码搜索利器：来自悉尼的代码搜索引擎汇聚了 Github, Bitbucket, Sourceforge...等多家开源站点超20万个项目、180亿行源代码，能以特殊字符、语言、仓库和源方式从90多种语言找到函数、API的真实代码。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>kitematic</string>
		<key>Durl</key>
		<string>https://github.com/kitematic/kitematic</string>
		<key>Dtext</key>
		<string>Mac 上使用 Docker 最简单的方案。 </string>
	</dict>
</array>
</plist>
