<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>DateTimeKit</string>
		<key>Durl</key>
		<string>https://github.com/exsortis/DateTimeKit</string>
		<key>Dtext</key>
		<string>一个超赞的时间处理的库，Joda-Time ！ 他能帮你轻松处理时区，处理时间加减，计算到期时间等等场景下的问题。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftDate</string>
		<key>Durl</key>
		<string>https://github.com/malcommac/SwiftDate</string>
		<key>Dtext</key>
		<string>特别完整、强大的日期时间操作管理类库。它几乎涵盖了已知开源日期类库所有优秀特性。 他能帮你轻松处理时区，处理时间加减，计算到期时间等等场景下的问题。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS私有API</string>
		<key>Durl</key>
		<string>https://github.com/nst/iOS-Runtime-Headers</string>
		<key>Dtext</key>
		<string>私有API，绿色 == public，红色 == private，蓝色 == dylib。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>libfacedetection</string>
		<key>Durl</key>
		<string>https://github.com/ShiqiYu/libfacedetection</string>
		<key>Dtext</key>
		<string>C++ 人脸识别 包含正面和多视角人脸检测两个算法.优点:速度快(OpenCV haar+adaboost的2-3倍), 准确度高 (FDDB非公开类评测排名第二），能估计人脸角度。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Slidden</string>
		<key>Durl</key>
		<string>https://github.com/Brimizer/Slidden</string>
		<key>Dtext</key>
		<string>一个老外开源的开发自定义键盘的库，利用这个开源库，可以方便的配置键位、颜色以及键位对应的图片。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TPKeyboardAvoiding</string>
		<key>Durl</key>
		<string>https://github.com/michaeltyson/TPKeyboardAvoiding</string>
		<key>Dtext</key>
		<string>用户键盘弹出自动计算高度，进行屏幕滚动操作。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CDPMonitorKeyboard</string>
		<key>Durl</key>
		<string>http://d.cocoachina.com/code/detail/298267</string>
		<key>Dtext</key>
		<string>CDPMonitorKeyboard封装,可以解决输入视图(例如textField,textView等)被键盘覆盖问题，并可设置高于键盘多少。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>自动监听键盘高度</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/297973/%E8%87%AA%E5%8A%A8%E7%9B%91%E5%90%AC%E9%94%AE%E7%9B%98%E9%AB%98%E5%BA%A6/</string>
		<key>Dtext</key>
		<string>自动监听键盘高度，初始界面，输入框在屏幕最下方，当键盘出现时，输入框随即移动到键盘上方。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SYKeyboardTextField</string>
		<key>Durl</key>
		<string>https://github.com/441088327/SYKeyboardTextField</string>
		<key>Dtext</key>
		<string>SYKeyboardTextField 是一个轻巧,简单,非侵入式的键盘附随输入框! 采用Swift编写。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BlocksKit</string>
		<key>Durl</key>
		<string>https://github.com/zwaldowski/BlocksKit</string>
		<key>Dtext</key>
		<string>block框架，为 OC 常用类提供了强大的 Block 语法支持，使得编写 OC 代码变得舒适、快速、优雅。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KVOController</string>
		<key>Durl</key>
		<string>https://github.com/facebook/KVOController</string>
		<key>Dtext</key>
		<string>在项目中有使用 KVO ，那么 KVOController 绝对是个好选择。它是 facebook 开源的一个 KVO 增强框架。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>appirater</string>
		<key>Durl</key>
		<string>https://github.com/arashpayan/appirater</string>
		<key>Dtext</key>
		<string>用于提醒用户给你的 APP 打分的工具。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MotionKitr</string>
		<key>Durl</key>
		<string>https://github.com/MHaroonBaig/MotionKitr</string>
		<key>Dtext</key>
		<string>为核心运动框架（The Core Motion framework）提供友好的类库封装，以更方便使用三轴陀螺仪和加速感应器特性。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Review Monitor</string>
		<key>Durl</key>
		<string>https://launchkit.io/reviews/</string>
		<key>Dtext</key>
		<string>第一时间自动推送 Apple Store 的用户评论到你的邮件箱或者 Slack，第一时间跟进用户反馈，打造优秀 App 必备工具！类似的有：App annie 的类似功能。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WBWebViewConsole</string>
		<key>Durl</key>
		<string>https://github.com/Naituw/WBWebViewConsole</string>
		<key>Dtext</key>
		<string>类似微博iPhone客户端的 “调试选项” 吗？把其中的 “内置浏览器网页调试” 开源在 Github 上了。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ios-good-practices</string>
		<key>Durl</key>
		<string>https://github.com/futurice/ios-good-practices</string>
		<key>Dtext</key>
		<string>ios-good-practices iOS 开发最佳实践。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS开发最佳实践</string>
		<key>Durl</key>
		<string>http://ios.jobbole.com/81830/</string>
		<key>Dtext</key>
		<string>iOS 开发最佳实践 -- 中文。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TodayExtensionSharingDefaults</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/232160</string>
		<key>Dtext</key>
		<string>TodayExtensionSharingDefaults是一个iOS 8 Today扩展示例，可以使用NSUserDefaults与其containing app分享数据。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QRCodeReader.swift</string>
		<key>Durl</key>
		<string>https://github.com/yannickl/QRCodeReader.swift</string>
		<key>Dtext</key>
		<string>QRCodeReader.swift一款简单的 QR 二维码阅读组件及示例，提供前后相机切换功能。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QRCatcher</string>
		<key>Durl</key>
		<string>https://github.com/100mango/QRCatcher</string>
		<key>Dtext</key>
		<string>一个简洁美观的二维码扫描应用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS学习：AVFoundation 视频流处理--二维码扫描</string>
		<key>Durl</key>
		<string>https://github.com/100mango/zen/blob/master/iOS%E5%AD%A6%E4%B9%A0%EF%BC%9AAVFoundation%20%E8%A7%86%E9%A2%91%E6%B5%81%E5%A4%84%E7%90%86/iOS%E5%AD%A6%E4%B9%A0%EF%BC%9AAVFoundation%20%E8%A7%86%E9%A2%91%E6%B5%81%E5%A4%84%E7%90%86%20.md</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Parsimmon</string>
		<key>Durl</key>
		<string>https://github.com/ayanonagon/Parsimmon</string>
		<key>Dtext</key>
		<string>wift，小而美的语言学类库封装工具包。提供分词、标记词性、词形归并、朴素贝页斯分类、决策树等自然语言分析小工具。P.S. 英语分词效果好于中文，感兴趣的同学可以针对中文做一些优化开发。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Password-keyboard</string>
		<key>Durl</key>
		<string>https://github.com/liuchunlao/Password-keyboard</string>
		<key>Dtext</key>
		<string>随机变换数字位置的密码键盘。 模仿银行类应用在付款时输入的随机密码键盘。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MKMapView-Extension</string>
		<key>Durl</key>
		<string>https://github.com/SemperIdem/MKMapView-Extension</string>
		<key>Dtext</key>
		<string>这是关于 MKMapView 写的一个基于swift的扩展，可以扩展 MKMapView 的相关功能，减少复用代码量。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SemverKit</string>
		<key>Durl</key>
		<string>https://github.com/nomothetis/SemverKit</string>
		<key>Dtext</key>
		<string>针对符合『语义化版本规范 2.0.0』版本号的解析、比较运算类库。不仅支持 Major, Minor, Patch，还支持 Alpha 和 Beta 预发布版本，以及相应地递增运算扩展。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftValidator</string>
		<key>Durl</key>
		<string>https://github.com/jpotts18/SwiftValidator</string>
		<key>Dtext</key>
		<string>基于规则的输入验证类库。项目良好的面向对象设计思想，使规则的扩展及自定义非常方便。更专业的规则引擎（甚至是基于自然语言的规则配置）解决方案，比如：开源的 Drools，商用的 ILOG 等。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Tesseract-OCR-iOS</string>
		<key>Durl</key>
		<string>https://github.com/gali8/Tesseract-OCR-iOS</string>
		<key>Dtext</key>
		<string>有关OCR文字识别项目。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Screenotate</string>
		<key>Durl</key>
		<string>https://github.com/osnr/Screenotate</string>
		<key>Dtext</key>
		<string>支持 OCR 文字识别的载屏笔记 Mac 完整应用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS-Categories</string>
		<key>Durl</key>
		<string>https://github.com/shaojiankui/IOS-Categories</string>
		<key>Dtext</key>
		<string>收集了许多有助于开发的iOS扩展,各种category。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Olla4iOS</string>
		<key>Durl</key>
		<string>https://github.com/nonstriater/Olla4iOS</string>
		<key>Dtext</key>
		<string>过去积累的一些方便复用的类和方法，还在整理中。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DKNightVersion</string>
		<key>Durl</key>
		<string>https://github.com/Draveness/DKNightVersion</string>
		<key>Dtext</key>
		<string>用最快的方式给你的应用加上夜间和白天的切换效果。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TouchVisualizer</string>
		<key>Durl</key>
		<string>https://github.com/morizotter/TouchVisualizer</string>
		<key>Dtext</key>
		<string>实用的多点触摸可视化组件。扩展并作用于 UIWindows，结构上提供了简单地针对触摸显示定制，比如触摸点的颜色。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RegexKitLite</string>
		<key>Durl</key>
		<string>https://github.com/wezm/RegexKitLite</string>
		<key>Dtext</key>
		<string>用来处理正则表达式。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XcodeServerSDK</string>
		<key>Durl</key>
		<string>https://github.com/czechboy0/XcodeServerSDK</string>
		<key>Dtext</key>
		<string>非官方 Xcode Server SDK 封装库。 P.S. 该 SDK 分离自之前推荐的由该作者开发的自动测试框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Buildasaur</string>
		<key>Durl</key>
		<string>https://github.com/czechboy0/Buildasaur</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BFKit-Swift</string>
		<key>Durl</key>
		<string>https://github.com/FabrizioBrancati/BFKit-Swift</string>
		<key>Dtext</key>
		<string>BFKit-Swift 这套工具库可以提高应用开发效率。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CKSIncrementalStore</string>
		<key>Durl</key>
		<string>https://github.com/CloudKitSpace/CKSIncrementalStore</string>
		<key>Dtext</key>
		<string>基于 CloudKit 服务器实现多终端数据同步。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftSequence</string>
		<key>Durl</key>
		<string>https://github.com/oisdk/SwiftSequence</string>
		<key>Dtext</key>
		<string> 简洁、灵活、多变的操作 SequenceType 的类库（基于微框架（μframework）设计思想）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>IDNFeedParser</string>
		<key>Durl</key>
		<string>https://github.com/photondragon/IDNFeedParser</string>
		<key>Dtext</key>
		<string>一个简单易用的Rss解析库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreUmeng</string>
		<key>Durl</key>
		<string>https://github.com/nsdictionary/CoreUmeng</string>
		<key>Dtext</key>
		<string>简单：友盟分享封装。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>openshare</string>
		<key>Durl</key>
		<string>https://github.com/100apps/openshare</string>
		<key>Dtext</key>
		<string>不用官方SDK，利用社交软件移动客户端(微信/QQ/微博/人人/支付宝)分享/登录/支付。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Swifternalization</string>
		<key>Durl</key>
		<string>https://github.com/tomkowz/Swifternalization</string>
		<key>Dtext</key>
		<string>一套实用的本地化工具库。使用教程及 API 文档完整。值得收入项目的“轮子”。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>apous</string>
		<key>Durl</key>
		<string>https://github.com/owensd/apous</string>
		<key>Dtext</key>
		<string>一款有趣的 Swift 应用 － 让 Swift 成为脚本语言。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Mirror</string>
		<key>Durl</key>
		<string>https://github.com/kostiakoval/Mirror</string>
		<key>Dtext</key>
		<string>通过反射（Refection）实现镜像对象封装库。从而可以更轻松获取（或输出）对象属性名、类型及值变量。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Proposer</string>
		<key>Durl</key>
		<string>https://github.com/nixzhu/Proposer</string>
		<key>Dtext</key>
		<string>Proposer 用单个 API 处理 iOS 上的权限请求，以便使用前确认可访问“相册”、“相机”、“麦克风”、“通讯录”或“用户位置”。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PermissionScope</string>
		<key>Durl</key>
		<string>https://github.com/nickoneill/PermissionScope</string>
		<key>Dtext</key>
		<string>用这个库可以在询问用户前，就告知用户所需的系统权限，为用户带来更好的体验。接受度更高—&gt;更多活跃用户-&gt;更高的留存率-&gt;数据更好-&gt;下载率更高。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LocationManager</string>
		<key>Durl</key>
		<string>https://github.com/intuit/LocationManager</string>
		<key>Dtext</key>
		<string>CoreLocation使用起来还是比较麻烦的，需要授权，判断系统版本等等，所以推荐使用第三方框架LocationManager，使用Block，十分简单！</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS-CoreLocation：无论你在哪里，我都要找到你！</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/ios/20150721/12611.html</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>pangu.objective-c</string>
		<key>Durl</key>
		<string>https://github.com/Cee/pangu.objective-c</string>
		<key>Dtext</key>
		<string>有多种语言实现版本～ Pangu.Objective-C：格式化中英文之间的空格（OC）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>objection</string>
		<key>Durl</key>
		<string>https://github.com/atomicobject/objection</string>
		<key>Dtext</key>
		<string>一个轻量级的依赖注入框架Objection。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ControlOrientation</string>
		<key>Durl</key>
		<string>https://github.com/johnlui/Swift-On-iOS/tree/master/ControlOrientation/ControlOrientation</string>
		<key>Dtext</key>
		<string>如何用代码控制以不同屏幕方向打开新页面 iOS。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iRate</string>
		<key>Durl</key>
		<string>https://github.com/nicklockwood/iRate</string>
		<key>Dtext</key>
		<string>问卷调查。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GameCenterManager</string>
		<key>Durl</key>
		<string>https://github.com/nihalahmed/GameCenterManager</string>
		<key>Dtext</key>
		<string>在iOS上管理GameCenter vanilla并不算难，但是有了这个库会更简单也更快。好上加好不是更好么。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SlackTextViewController</string>
		<key>Durl</key>
		<string>https://github.com/slackhq/SlackTextViewController</string>
		<key>Dtext</key>
		<string>用作极佳、定制的文本输入控制时，自适应文本区域，手势识别、自动填充、多媒体合并，快速drop-in解决方案。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>IAPHelper</string>
		<key>Durl</key>
		<string>https://github.com/saturngod/IAPHelper</string>
		<key>Dtext</key>
		<string>应用内付费给我们提供了很多样本代码，而这个库丢掉了那些代码，将金钱交易相关的大多通用任务做了简单的封装。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TAPromotee</string>
		<key>Durl</key>
		<string>https://github.com/JanC/TAPromotee</string>
		<key>Dtext</key>
		<string>交叉推广应用是你可以免费实现的最佳市场推广策略之一。使用这个库做起来非常简单，不用都不可能——将TAPromotee加入你的podfile中，免费配置与享受更多下载吧。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DownloadFontOnline</string>
		<key>Durl</key>
		<string>https://github.com/cgwangding/DownloadFontOnline</string>
		<key>Dtext</key>
		<string>实现了在线下载一些字体的功能，不用在工程中导入字体库，下载的字体也不会保存在你的应用中，所以可以放心使用。修复了一下崩溃的bug。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>STClock</string>
		<key>Durl</key>
		<string>https://github.com/zhenlintie/STClock</string>
		<key>Dtext</key>
		<string>仿锤子时钟。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GitUp</string>
		<key>Durl</key>
		<string>https://github.com/git-up/GitUp</string>
		<key>Dtext</key>
		<string>GitUp是一个可视化的Git客户端，能够实时的进行编辑、合并、回滚等多种操作，更多功能，请下载体验。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>获取联系人信息，通讯录</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/320392/</string>
		<key>Dtext</key>
		<string> 获取联系人信息，通讯录。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Universal-Jump-ViewController</string>
		<key>Durl</key>
		<string>https://github.com/HHuiHao/Universal-Jump-ViewController</string>
		<key>Dtext</key>
		<string>根据规则跳转到指定的界面(runtime实用篇一)。
</string>
	</dict>
</array>
</plist>
