<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>popping</string>
		<key>Durl</key>
		<string>https://github.com/schneiderandre/popping</string>
		<key>Dtext</key>
		<string>popping是一个POP 使用实例工程。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SinaMenuView</string>
		<key>Durl</key>
		<string>https://github.com/xhzengAIB/SinaMenuView</string>
		<key>Dtext</key>
		<string>用POP动画引擎写的Sina微博的Menu菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MMTweenAnimation</string>
		<key>Durl</key>
		<string>https://github.com/adad184/MMTweenAnimation</string>
		<key>Dtext</key>
		<string>facebook POP的自定义动画扩展(基于POPCustomAnimation) 提供10种函数式动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZQLRotateMenu</string>
		<key>Durl</key>
		<string>https://github.com/pingguo-zangqilong/ZQLRotateMenu</string>
		<key>Dtext</key>
		<string>这是一个旋转视图的选择器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoolLoadAniamtion</string>
		<key>Durl</key>
		<string>https://github.com/pingguo-zangqilong/CoolLoadAniamtion</string>
		<key>Dtext</key>
		<string>一个简单但是效果不错的loading动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SequenRotateAnimation</string>
		<key>Durl</key>
		<string>https://github.com/pingguo-zangqilong/SequenRotateAnimation</string>
		<key>Dtext</key>
		<string> 一个简单的loading次序动画。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SYAppStart</string>
		<key>Durl</key>
		<string>https://github.com/441088327/SYAppStart</string>
		<key>Dtext</key>
		<string> App启动插画的自定义过度。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VJDeviceSpecificMedia</string>
		<key>Durl</key>
		<string>https://github.com/victorjiang/UIImage-VJDeviceSpecificMedia/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>如何根据设备选择不同尺寸的图片]</string>
		<key>Durl</key>
		<string>http://www.imooc.com/wenda/detail/249271</string>
		<key>Dtext</key>
		<string> 可以通过设置不同尺寸设备的LaunchImage，来使得App适配这些设备，要是在不同不同尺寸设备上使用不同大小的图片，则需要在代码中一一判断，然后加载。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RMParallax</string>
		<key>Durl</key>
		<string>https://github.com/michaelbabiy/RMParallax</string>
		<key>Dtext</key>
		<string>RMParallax是一个app启动页引导开源项目，除了细微的翻页视差效果，描述文本的过渡也非常美观（版本新特性）。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ADo_GuideView</string>
		<key>Durl</key>
		<string>https://github.com/Nododo/ADo_GuideView</string>
		<key>Dtext</key>
		<string>转动的用户引导页(模仿网易bobo) 因为没有从app包里抓到@3x的图片,建议在iPhone5模拟器运行,保证效果~ （版本新特性）。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreNewFeatureVC</string>
		<key>Durl</key>
		<string>https://github.com/nsdictionary/CoreNewFeatureVC</string>
		<key>Dtext</key>
		<string>版本新特性（引导页），1.封装并简化了版本新特性启动视图！2.添加了版本的本地缓存功能，3.集成简单，使用方便，没有耦合度，4.支持block回调。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Spring</string>
		<key>Durl</key>
		<string>https://github.com/MengTo/Spring</string>
		<key>Dtext</key>
		<string>Spring是一个Swift编写的开源库，可简化Swift编写的iOS动画。支持shake、pop、morph、squeeze、wobble、swing、flipX、flipY、fall、squeezeLeft、squeezeRight以及squeezeDown等多种动画形式，用 IBDesignable 让使用者可以在 Xcode 中快速设置动画效果。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYBezierBounceView</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYBezierBounceView</string>
		<key>Dtext</key>
		<string>手势控制贝塞尔曲线，取消手势贝塞尔曲线会有反弹效果。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>cadisplaylinkanduibezierpath</string>
		<key>Durl</key>
		<string>http://kittenyang.com/cadisplaylinkanduibezierpath/</string>
		<key>Dtext</key>
		<string>CADisplayLink结合UIBezierPath的神奇妙用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYCuteView</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYCuteView</string>
		<key>Dtext</key>
		<string>实现类似QQ消息拖拽消失的交互+GameCenter的浮动小球效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYWaterWaveView</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYWaterWaveView</string>
		<key>Dtext</key>
		<string>一个内置波浪动画的UIView，里面有鱼跳跃水溅起来的效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYPingTransition</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYPingTransition</string>
		<key>Dtext</key>
		<string>实现圆圈放大放小的转场动画，可以根据自己的需要使用Paper中的弹性效果，有Material风格。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYNewtonCradleAnimiation</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYNewtonCradleAnimiation</string>
		<key>Dtext</key>
		<string>牛顿摆动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LayerPlayer</string>
		<key>Durl</key>
		<string>https://github.com/scotteg/LayerPlayer</string>
		<key>Dtext</key>
		<string>一款全面展示核心动画 API 示例项目（上架应用）。包括 CALayer, CAScrollLayer, CATextLayer, AVPlayerLayer, CAGradientLayer, CAReplicatorLayer, CATiledLayer, CAShapeLayer, CAEAGLLayer, CATransformLayer, CAEmitterLayer 等使用的互动演示。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>JGTransitionCollectionView]</string>
		<key>Durl</key>
		<string>https://github.com/JayGajjar/JGTransitionCollectionView</string>
		<key>Dtext</key>
		<string>swift，基于集合视图扩展实现完成自动布局及单元项 Flip式动画效果（效果很赞）。组件使用方便、自然（只需设置集合视图数据源的标准方式即可）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYShareMenu</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYShareMenu</string>
		<key>Dtext</key>
		<string>带弹性动画的分享菜单。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Context-Menu.iOS</string>
		<key>Durl</key>
		<string>https://github.com/Yalantis/Context-Menu.iOS</string>
		<key>Dtext</key>
		<string>可以为app的菜单添加漂亮的动画内容，可自定义icon，并可根据自己的喜好设计单元格和布局。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DeformationButton</string>
		<key>Durl</key>
		<string>https://github.com/LuciusLu/DeformationButton</string>
		<key>Dtext</key>
		<string>一个简单的变换形状动画按钮。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UnReadBubbleView</string>
		<key>Durl</key>
		<string>https://github.com/heroims/UnReadBubbleView</string>
		<key>Dtext</key>
		<string>UnReadBubbleView是一个能够拖拽并拉长的气泡视图。拖拽到一定的长度会消失，可以通过系数设置来控制拖拽的长度。气泡也支持多种属性设置。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PPDragDropBadgeView</string>
		<key>Durl</key>
		<string>https://github.com/smallmuou/PPDragDropBadgeView</string>
		<key>Dtext</key>
		<string>实现了类似于QQ 5.0 水滴拖拽效果. 支持iOS 5.0+ ARC，气泡能够带有数字标识，同时支持消失block方法。消失时还带有消失效果动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GiftCard-Implementation</string>
		<key>Durl</key>
		<string>https://github.com/MartinRGB/GiftCard-Implementation</string>
		<key>Dtext</key>
		<string>购买的炫酷动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iCarousel</string>
		<key>Durl</key>
		<string>https://github.com/nicklockwood/iCarousel</string>
		<key>Dtext</key>
		<string>iCarousel是一个类，它继承于UIView。用于简化实现各种类型的旋转木马(分页滚动视图），无限轮播 。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS开发之多图片无缝滚动组件封装与使用</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/ios/20150828/13198.html</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KIPageView</string>
		<key>Durl</key>
		<string>https://github.com/smartwalle/KIPageView</string>
		<key>Dtext</key>
		<string>无限循环PageView，横向TableView，无限轮播。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HotGirls</string>
		<key>Durl</key>
		<string>https://github.com/zangqilong198812/HotGirls</string>
		<key>Dtext</key>
		<string>卡片动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>tispr-card-stack</string>
		<key>Durl</key>
		<string>https://github.com/tispr/tispr-card-stack</string>
		<key>Dtext</key>
		<string>swift 卡片风格动画切换组件及完整交互示例。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZLSwipeableViewSwift</string>
		<key>Durl</key>
		<string>https://github.com/zhxnlai/ZLSwipeableViewSwift</string>
		<key>Dtext</key>
		<string>swift 卡片堆叠效果的实现</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Koloda</string>
		<key>Durl</key>
		<string>https://github.com/Yalantis/Koloda</string>
		<key>Dtext</key>
		<string>基于卡片的 Tinder-style 动画效果示例。精细绝人。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>QQPersonalInfoTransition</string>
		<key>Durl</key>
		<string>https://github.com/zangqilong198812/QQPersonalInfoTransition</string>
		<key>Dtext</key>
		<string>仿照QQ的转场。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYAnimatedPageControl</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYAnimatedPageControl</string>
		<key>Dtext</key>
		<string>除了滚动视图时PageControl会以动画的形式一起移动，点击目标页还可快速定位。支持两种样式：粘性小球和旋转方块。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KDIntroView</string>
		<key>Durl</key>
		<string>https://github.com/likedan/KDIntroView</string>
		<key>Dtext</key>
		<string>swift 动态介绍视图框架及演示。另外两个相似的类库是 RazzleDazzle和 Presentation，择需使用。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RazzleDazzle</string>
		<key>Durl</key>
		<string>https://github.com/IFTTT/RazzleDazzle</string>
		<key>Dtext</key>
		<string>RazzleDazzle 是IFTTT开源的一个iOS帧动画框架，非常适用于APP初次使用时的介绍和引导信息。JazzHands是UIKit一个简单的关键帧基础动画框架，可通过手势、scrollview、KVO等控制动画，被IFTTT应用在IFTTT for iPhone上。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Presentation</string>
		<key>Durl</key>
		<string>https://github.com/hyperoslo/Presentation</string>
		<key>Dtext</key>
		<string>一个类似RazzleDazzle的框架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FillableLoaders</string>
		<key>Durl</key>
		<string>https://github.com/poolqf/FillableLoaders</string>
		<key>Dtext</key>
		<string>基于 CGPaths 可定制个性化填空式装载类库。附水波上涨式示例。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SXWaveAnimate</string>
		<key>Durl</key>
		<string>https://github.com/dsxNiubility/SXWaveAnimate</string>
		<key>Dtext</key>
		<string>实现非常美观的灌水动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LSPaomaView</string>
		<key>Durl</key>
		<string>https://github.com/liusen001/LSPaomaView</string>
		<key>Dtext</key>
		<string>可循环滚动的较长文字，跑马灯，效果很好，一句话集成。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SIFloatingCollection_Swift</string>
		<key>Durl</key>
		<string>https://github.com/ProudOfZiggy/SIFloatingCollection_Swift</string>
		<key>Dtext</key>
		<string>可定制的 Apple Music 风格浮动形状动画组件及演示。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Cheetah</string>
		<key>Durl</key>
		<string>https://github.com/suguru/Cheetah</string>
		<key>Dtext</key>
		<string>易用、高可读链式动画类库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CKWaveCollectionViewTransition</string>
		<key>Durl</key>
		<string>https://github.com/CezaryKopacz/CKWaveCollectionViewTransition</string>
		<key>Dtext</key>
		<string>swift， UICollectionViewController之间切换的动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TKSubmitTransition</string>
		<key>Durl</key>
		<string>https://github.com/entotsu/TKSubmitTransition</string>
		<key>Dtext</key>
		<string>基于 UIButton 的登录加载、返回按钮转场动画组件及示例。
</string>
	</dict>
</array>
</plist>
