<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>SCRecorder</string>
		<key>Durl</key>
		<string>https://github.com/rFlex/SCRecorder</string>
		<key>Dtext</key>
		<string>SCRecorder 短视频录制。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VideoPushDemo</string>
		<key>Durl</key>
		<string>https://github.com/pingguo-zangqilong/VideoPushDemo</string>
		<key>Dtext</key>
		<string>视频剪辑。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>LLSimpleCamera</string>
		<key>Durl</key>
		<string>https://github.com/omergul123/LLSimpleCamera</string>
		<key>Dtext</key>
		<string>A simple, customizable camera control for iOS， 摄像头。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>EZAudio</string>
		<key>Durl</key>
		<string>https://github.com/syedhali/EZAudio</string>
		<key>Dtext</key>
		<string>EZAudio 是一个 iOS 和 OSX 上简单易用的音频框架，根据音量实时显示波形图，基于Core Audio，适合实时低延迟音频处理，非常直观。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ffmpeg</string>
		<key>Durl</key>
		<string>http://ffmpeg.org/</string>
		<key>Dtext</key>
		<string>ffmpeg官网。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FFmpeg在iOS上完美编译</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/ios/20150514/11827.html</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VCL</string>
		<key>Durl</key>
		<string>http://www.videolan.org/</string>
		<key>Dtext</key>
		<string>VCL官网。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>kxmovie</string>
		<key>Durl</key>
		<string>https://github.com/kolyvan/kxmovie</string>
		<key>Dtext</key>
		<string>使用ffmpeg的影片播放器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ijkplayer</string>
		<key>Durl</key>
		<string>https://github.com/Bilibili/ijkplayer</string>
		<key>Dtext</key>
		<string>B站开源的视频播放器，支持Android和iOS。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>StreamingKit</string>
		<key>Durl</key>
		<string>https://github.com/tumtumtum/StreamingKit</string>
		<key>Dtext</key>
		<string>StreamingKit流媒体音乐播放器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FreeStreamer</string>
		<key>Durl</key>
		<string>https://github.com/muhku/FreeStreamer</string>
		<key>Dtext</key>
		<string>FreeStreamer流媒体音乐播放器，cpu占用非常小。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DOUAudioStreamer</string>
		<key>Durl</key>
		<string>https://github.com/douban/DOUAudioStreamer</string>
		<key>Dtext</key>
		<string>DOUAudioStreamer豆瓣的音乐流媒体播放器。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>fmpro</string>
		<key>Durl</key>
		<string>https://github.com/fmpro/fmpro</string>
		<key>Dtext</key>
		<string>电台播放器，支持锁屏歌词，支持基本播放流程，歌词展示，后台锁屏播放和控制以及锁屏后封面+歌词。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>fmpro_R</string>
		<key>Durl</key>
		<string>https://github.com/jovisayhehe/fmpro_R</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>IPDFCameraViewController</string>
		<key>Durl</key>
		<string>https://github.com/mmackh/IPDFCameraViewController</string>
		<key>Dtext</key>
		<string>支持相机定焦拍摄、滤镜、闪光、实时边框检测以及透视矫正功能，并有简单易用的API。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SCRecorder</string>
		<key>Durl</key>
		<string>https://github.com/rFlex/SCRecorder</string>
		<key>Dtext</key>
		<string>酷似 Instagram/Vine 的音频/视频摄像记录器，以 Objective-C 为基础的过滤器框架。 你可以做很多如下的操作：记录多个视频录像片段。删除任何你不想要的记录段。可以使用任何视频播放器播放片段。保存的记录可以在序列化的 NSDictionary 中使用。（在 NSUserDefaults 的中操作）添加使用 Core Image 的视频滤波器。可自由选择你需要的 parameters 合并和导出视频。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Cool-iOS-Camera</string>
		<key>Durl</key>
		<string>https://github.com/GabrielAlva/Cool-iOS-Camera</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FastttCamera</string>
		<key>Durl</key>
		<string>https://github.com/IFTTT/FastttCamera</string>
		<key>Dtext</key>
		<string>FastttCamera 快速照相。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ICGVideoTrimmer</string>
		<key>Durl</key>
		<string>https://github.com/itsmeichigo/ICGVideoTrimmer</string>
		<key>Dtext</key>
		<string>ICGVideoTrimmer提供提供视频剪切的视图（类似系统相册中浏览视频时顶部那个条状视图）。左右两个边界选择器还能够自定义。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS录音和播放功能demo</string>
		<key>Durl</key>
		<string>http://d.cocoachina.com/code/detail/285717</string>
		<key>Dtext</key>
		<string>比较完整的ios录音和播放功能的实现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CameraManager</string>
		<key>Durl</key>
		<string>https://github.com/imaginary-cloud/CameraManager</string>
		<key>Dtext</key>
		<string>相机管理封装类库。看着极好用的样子----swift。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MCAudioInputQueue</string>
		<key>Durl</key>
		<string>https://github.com/msching/MCAudioInputQueue</string>
		<key>Dtext</key>
		<string>简易录音类，基于AudioQueue的。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>DraggableYoutubeFloatingVideo</string>
		<key>Durl</key>
		<string>https://github.com/vizllx/DraggableYoutubeFloatingVideo</string>
		<key>Dtext</key>
		<string>展示像类似Youtube移动应用的那种浏览视频的效果，当点击某视频时能够从右下方弹出一个界面，并且该界面能够通过手势，再次收缩在右下方并继续播放。这是通过AutoLayout设计实现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>amr</string>
		<key>Durl</key>
		<string>http://www.penguin.cz/~utx/amr</string>
		<key>Dtext</key>
		<string> 做即时通讯的音频处理，录音文件是m4a，便于web端的音频播放。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FSVoiceBubble</string>
		<key>Durl</key>
		<string>https://github.com/f33chobits/FSVoiceBubble</string>
		<key>Dtext</key>
		<string>一个轻量级播放录音音频的气泡：1.支持短时间的音频播放（支持网络音频）；2.播放时的声波动画；3.自定义包括声波的颜色，气泡的背景等。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KRVideoPlayer</string>
		<key>Durl</key>
		<string>https://github.com/36Kr-Mobile/KRVideoPlayer</string>
		<key>Dtext</key>
		<string>类似Weico的播放器，支持竖屏模式下全屏播放。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VideoBeautify</string>
		<key>Durl</key>
		<string>https://github.com/xujingzhou/VideoBeautify</string>
		<key>Dtext</key>
		<string>功能酷似美拍,秒拍等应用的源码：对视频进行各种美化处理，采用主题形式进行分类，内含各种滤镜，动画特效和音效等。</string>
	</dict>
</array>
</plist>
