<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>FMDB</string>
		<key>Durl</key>
		<string>https://github.com/ccgus/fmdb</string>
		<key>New item</key>
		<string> sqlite的工具。</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>多线程FMDatabaseQueue实例</string>
		<key>Durl</key>
		<string>https://github.com/tangqiaoboy/FmdbSample</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FMDB数据库的使用演示和封装工具类</string>
		<key>Durl</key>
		<string>https://github.com/liuchunlao/LVDatabaseDemo</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GXDatabaseUtils</string>
		<key>Durl</key>
		<string>https://github.com/Gerry1218/GXDatabaseUtils</string>
		<key>Dtext</key>
		<string>在FMDB基础上的工具。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>realm-cocoa</string>
		<key>Durl</key>
		<string>https://github.com/realm/realm-cocoa</string>
		<key>Dtext</key>
		<string>Realm是一个真正为移动设备打造的数据库，同时支持Objective-C和Swfit。Realm宣称其相比Sqlite，在移动设备上有着更好的性能表现。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Breeze</string>
		<key>Durl</key>
		<string>https://github.com/andrelind/Breeze</string>
		<key>Dtext</key>
		<string>用Swift写的一个轻量级的CoreData管理工具，并且还支持iCloud。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AlecrimCoreData</string>
		<key>Durl</key>
		<string>https://github.com/Alecrim/AlecrimCoreData</string>
		<key>Dtext</key>
		<string>Swift，更容易地访问 CoreData 对象封装类库。除了 CRUD，还提供指针定位，强大的排序、筛选，异步数据获取，以及独立线程后台存取数据。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreStore</string>
		<key>Durl</key>
		<string>https://github.com/JohnEstropia/CoreStore</string>
		<key>Dtext</key>
		<string>Core Data 管理类库。 其中事务管理及查询是其比较大的亮点，整套 API 功能完整。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MagicRecord</string>
		<key>Durl</key>
		<string>https://github.com/magicalpanda/MagicalRecord</string>
		<key>Dtext</key>
		<string>MagicalRecord就像是给Core Data提供了一层外包装，隐藏掉所有不相关的东西。 其中事务管理及查询是其比较大的亮点，整套 API 功能完整。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Presentation</string>
		<key>Durl</key>
		<string>https://github.com/hyperoslo/Presentation</string>
		<key>Dtext</key>
		<string> 重量级好项目 Presentation，它可以方便你制作定制的动画式教程、Release Notes、个性化演讲稿等。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreValue</string>
		<key>Durl</key>
		<string>https://github.com/terhechte/CoreValue</string>
		<key>Dtext</key>
		<string>Swift 2 版 Core Data 封装库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftRecord</string>
		<key>Durl</key>
		<string>https://github.com/arkverse/SwiftRecord</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreStore</string>
		<key>Durl</key>
		<string>https://github.com/JohnEstropia/CoreStore</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SQLCipher</string>
		<key>Durl</key>
		<string>https://github.com/sqlcipher/sqlcipher</string>
		<key>Dtext</key>
		<string> SQLCipher使用256-bit AES加密，SQLCipher分为收费版本和免费版本。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>加密你的SQLite</string>
		<key>Durl</key>
		<string>http://foggry.com/blog/2014/05/19/jia-mi-ni-de-sqlite/</string>
		<key>Dtext</key>
		<string>各种sqlite数据库加密介绍。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SQLCipherDemo下载</string>
		<key>Durl</key>
		<string>http://download.csdn.net/detail/wzzvictory_tjsd/7379055</string>
		<key>Dtext</key>
		<string></string>
	</dict>
</array>
</plist>
