<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>Swift中文指南</string>
		<key>Durl</key>
		<string>https://github.com/numbbbbb/the-swift-programming-language-in-chinese</string>
		<key>Dtext</key>
		<string>中文版Apple官方Swift教程《The Swift Programming Language》</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>The Swift Programming Language 中文版</string>
		<key>Durl</key>
		<string>http://wiki.jikexueyuan.com/project/swift/</string>
		<key>Dtext</key>
		<string>The Swift Programming Language 中文版。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>swifttoolbox</string>
		<key>Durl</key>
		<string>http://www.swifttoolbox.io/</string>
		<key>Dtext</key>
		<string>swifttoolbox swift开发的开源库汇总。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SwiftGuide</string>
		<key>Durl</key>
		<string>https://github.com/ipader/SwiftGuide</string>
		<key>Dtext</key>
		<string>这份指南汇集了Swift语言主流学习资源，并以开发者的视角整理编排-- 非常不错，值得推荐。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Swift开源项目精选</string>
		<key>Durl</key>
		<string>https://github.com/ipader/SwiftGuide/blob/master/Featured.md</string>
		<key>Dtext</key>
		<string>Swift开源项目精选--推荐，每周都有更新。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Awesome Swift</string>
		<key>Durl</key>
		<string>https://swift.zeef.com/robin.eggenkamp</string>
		<key>Dtext</key>
		<string>一个收集了很多 Swift 开发资源的网站。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Developing_iOS_8_Apps_With_Swift</string>
		<key>Durl</key>
		<string>https://github.com/x140yu/Developing_iOS_8_Apps_With_Swift</string>
		<key>Dtext</key>
		<string>Developing iOS 8 Apps with Swift 字幕简体中文翻译项目（斯坦福白胡子老头swift教学视频）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Swift-On-iOS</string>
		<key>Durl</key>
		<string>https://github.com/johnlui/Swift-On-iOS</string>
		<key>Dtext</key>
		<string> JohnLui 的 Swift On iOS 代码仓库。</string>
	</dict>
</array>
</plist>
