<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>code4app</string>
		<key>Durl</key>
		<string>http://www.code4app.com/</string>
		<key>Dtext</key>
		<string>最多国人用的代码库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>cocoachina</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/</string>
		<key>Dtext</key>
		<string>国内最热门的iOS社区的代码库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>awesome-ios</string>
		<key>Durl</key>
		<string>https://github.com/vsouza/awesome-ios</string>
		<key>Dtext</key>
		<string> 一个老外整理的。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>awesome-ios-ui</string>
		<key>Durl</key>
		<string>https://github.com/cjwirth/awesome-ios-ui</string>
		<key>Dtext</key>
		<string>收集了不少 iOS UI/UX 库, 包含了很多酷炫的动画效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ios-cosmos</string>
		<key>Durl</key>
		<string>http://ios-cosmos.com/</string>
		<key>Dtext</key>
		<string>The iOS Cosmos：收录了IOS绝大部分的开源框架和工具。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>[Awesome Haskell资料大全</string>
		<key>Durl</key>
		<string>https://haskell.zeef.com/konstantin.skipor#block_28362_basics</string>
		<key>Dtext</key>
		<string>Awesome Haskell 资料大全：框架，库和软件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Cosmos</string>
		<key>Durl</key>
		<string>http://ios-cosmos.com</string>
		<key>Dtext</key>
		<string>The iOS Cosmos：收录了IOS绝大部分的开源框架和工具。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>cocoacontrols</string>
		<key>Durl</key>
		<string>http://cocoacontrols.com</string>
		<key>Dtext</key>
		<string>收集了很多UI控件效果代码，缺点是需要翻墙，而且代码分类不够好。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>lexrus</string>
		<key>Durl</key>
		<string>https://github.com/lexrus</string>
		<key>Dtext</key>
		<string>lexrus国内出名的iOS开源coder，非常库的label动画、textfield动画。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>open-source-ios-apps</string>
		<key>Durl</key>
		<string>https://github.com/dkhamsing/open-source-ios-apps</string>
		<key>Dtext</key>
		<string>iOS App集合，分：swift与Objective-C--国外人整理。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>适合iOS开发者的15大网站推荐</string>
		<key>Durl</key>
		<string>http://www.csdn.net/article/2015-03-04/2824108-ios-developers-sites</string>
		<key>Dtext</key>
		<string> 适合 iOS 开发者的 15 大网站推荐 --- 英文网站。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Objective-C GitHub 排名前 100 项目简介</string>
		<key>Durl</key>
		<string>https://github.com/Aufree/trip-to-iOS/blob/master/Top-100.md</string>
		<key>Dtext</key>
		<string>主要对当前 GitHub 排名前 100 的项目做一个简单的简介, 方便初学者快速了解到当前 Objective-C 在 GitHub 的情况。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Github-iOS备忘</string>
		<key>Durl</key>
		<string>http://github.ibireme.com/github/list/ios/</string>
		<key>Dtext</key>
		<string>整理了比较常用的iOS第三方组件，以及github上的统计。</string>
	</dict>
</array>
</plist>
