<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>PNChart</string>
		<key>Durl</key>
		<string>https://github.com/kevinzhow/PNChart</string>
		<key>Dtext</key>
		<string>国内开源作者，动态的图表。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>swift-linechart</string>
		<key>Durl</key>
		<string>https://github.com/zemirco/swift-linechart</string>
		<key>Dtext</key>
		<string>功能完整、实用的折线图组件。使用方便，参数配置简单。是不可多得的优质组件--swift。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ios-charts</string>
		<key>Durl</key>
		<string>https://github.com/danielgindi/ios-charts</string>
		<key>Dtext</key>
		<string>一款优秀 Android 图表开源库 MPAndroidChart 的 Swift 语言实现版（支持 Objective-C 和 Swift 调用）。缺省提供的示例代码为 Objective-C。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TEAChart</string>
		<key>Durl</key>
		<string>https://github.com/xhacker/TEAChart</string>
		<key>Dtext</key>
		<string>xhacker/TEAChart 一个简洁的 iOS 图表库，支持柱状图、饼图以及日历等。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>YOChartImageKit</string>
		<key>Durl</key>
		<string>https://github.com/yasuoza/YOChartImageKit</string>
		<key>Dtext</key>
		<string>支持在watchOS上绘制图表，看它最近更新挺勤快的，可以关注一下。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RealtimeGradientText</string>
		<key>Durl</key>
		<string>https://github.com/kevinzhow/RealtimeGradientText</string>
		<key>Dtext</key>
		<string>Fun With CALayer Mask 开源了一个有趣的项目 RealtimeGradientText</string>
	</dict>
</array>
</plist>
