<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>FLAnimatedImage</string>
		<key>Durl</key>
		<string>https://github.com/liric28/FLAnimatedImage</string>
		<key>Dtext</key>
		<string>gif播放处理的工具。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CLImageEditor</string>
		<key>Durl</key>
		<string>https://github.com/yackle/CLImageEditor</string>
		<key>Dtext</key>
		<string>超强的图片编辑库，快速帮你实现旋转，防缩，滤镜等等一系列麻烦的事情。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ios-image-filters</string>
		<key>Durl</key>
		<string>https://github.com/esilverberg/ios-image-filters</string>
		<key>Dtext</key>
		<string>图像滤镜，库比较旧了，很容易崩溃。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XBImageFilters</string>
		<key>Durl</key>
		<string>(https://github.com/xissburg/XBImageFilters</string>
		<key>Dtext</key>
		<string>图像滤镜。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VIPhotoView</string>
		<key>Durl</key>
		<string>https://github.com/vitoziv/VIPhotoView</string>
		<key>Dtext</key>
		<string>用于展示图片的工具类，因为是个 View，所以你可以放在任何地方显示。支持旋转，双击指定位置放大等。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MWPhotoBrowser</string>
		<key>Durl</key>
		<string>https://github.com/mwaterfall/MWPhotoBrowser</string>
		<key>Dtext</key>
		<string>一个非常不错的照片浏览器，在github的star接近3000个。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>解决MWPhotoBrowser中的SDWebImage加载大图导致的内存警告问题。</string>
		<key>Durl</key>
		<string>http://www.superqq.com/blog/2015/01/22/jie-jue-mwphotobrowserzhong-de-sdwebimagejia-zai-da-tu-dao-zhi-de-nei-cun-jing-gao-wen-ti/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>core-image-explorer</string>
		<key>Durl</key>
		<string>https://github.com/objcio/issue-21-core-image-explorer</string>
		<key>Dtext</key>
		<string>Core Image 滤镜处理图片-- swift</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Core Image 介绍</string>
		<key>Durl</key>
		<string>http://objccn.io/issue-21-6/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoreImageShop</string>
		<key>Durl</key>
		<string>https://github.com/rFlex/CoreImageShop</string>
		<key>Dtext</key>
		<string>CoreImageShop图片滤镜处理-- Mac app that let you create a complete Core Image Filter usable on iOS using SCRecorder。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GPUImage</string>
		<key>Durl</key>
		<string>https://github.com/BradLarson/GPUImage</string>
		<key>Dtext</key>
		<string>处理图片效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RSKImageCropper</string>
		<key>Durl</key>
		<string>https://github.com/ruslanskorb/RSKImageCropper</string>
		<key>Dtext</key>
		<string>适用于iOS的图片裁剪器，类似Contacts app，可上下左右移动图片选取最合适的区域。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>WZRecyclePhotoStackView</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/232156</string>
		<key>Dtext</key>
		<string>删除照片交互--WZRecyclePhotoStackView，就是模拟生活中是删除或保留犹豫不决的情形而产生的。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TimingFunctionEditor</string>
		<key>Durl</key>
		<string>https://github.com/schwa/TimingFunctionEditor</string>
		<key>Dtext</key>
		<string>TimingFunctionEditor用swift编写， 贝塞尔曲线编辑器，编辑后可以预览或拷贝代码片段直接使用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Carthage介绍中文</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/ios/20141204/10528.html</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AAFaceDetection</string>
		<key>Durl</key>
		<string>https://github.com/aaronabentheuer/AAFaceDetection</string>
		<key>Dtext</key>
		<string>AAFaceDetection--swift，简单、实用的面部识别封装库。虽然该技术从 iOS 5 发展，不过真正有趣的应用还不多。。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PhotoTweaks</string>
		<key>Durl</key>
		<string>https://github.com/itouch2/PhotoTweaks</string>
		<key>Dtext</key>
		<string>这个库挺赞的，正好是对图像操作的。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Concorde</string>
		<key>Durl</key>
		<string>https://github.com/contentful-labs/Concorde</string>
		<key>Dtext</key>
		<string>swift, Concorde, 一个可用于下载和解码渐进式 JPEG 的库, 可用来改善应用的用户体验。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZoomTransition]</string>
		<key>Durl</key>
		<string>https://github.com/tristanhimmelman/ZoomTransition</string>
		<key>Dtext</key>
		<string> swift, 通过手势操控图片的放大、缩小、旋转等自由变化效果的组件及示例。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>AFImageHelper</string>
		<key>Durl</key>
		<string>https://github.com/melvitax/AFImageHelper</string>
		<key>Dtext</key>
		<string>swift,一套针对 UIImage 和 UIImageView 的实用扩展库，功能包含填色和渐变、裁剪、缩放以及具有缓存机制的在线图片获取。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PinterestSwift</string>
		<key>Durl</key>
		<string>https://github.com/demon1105/PinterestSwift</string>
		<key>Dtext</key>
		<string>swift,Pinterest 风格图片缩放、切换示例。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYElegantPhotoGallery</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYElegantPhotoGallery</string>
		<key>Dtext</key>
		<string>一个优雅的图片浏览库。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SDCycleScrollView</string>
		<key>Durl</key>
		<string>https://github.com/gsdios/SDCycleScrollView</string>
		<key>Dtext</key>
		<string>无限循环自动图片轮播器(一步设置即可使用)。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SDPhotoBrowser</string>
		<key>Durl</key>
		<string>https://github.com/gsdios/SDPhotoBrowser</string>
		<key>Dtext</key>
		<string> 仿新浪动感图片浏览器,非常简单易用的图片浏览器，模仿微博图片浏览器动感效果，综合了图片展示和存储等多项功能。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>HZPhotoBrowser</string>
		<key>Durl</key>
		<string>https://github.com/chennyhuang/HZPhotoBrowser</string>
		<key>Dtext</key>
		<string>一个类似于新浪微博图片浏览器的框架（支持显示和隐藏动画；支持双击缩放，手势放大缩小；支持图片存储；支持网络加载gif图片，长图滚动浏览；支持横竖屏显示）。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PhotoStackView-Swift</string>
		<key>Durl</key>
		<string>https://github.com/YiZhuoChen/PhotoStackView-Swift</string>
		<key>Dtext</key>
		<string>PhotoStackView——照片叠放视图。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MarkingMenu</string>
		<key>Durl</key>
		<string>https://github.com/FlexMonkey/MarkingMenu</string>
		<key>Dtext</key>
		<string> 基于手势、类似 Autodesk Maya 风格标记菜单及图片渲染。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SXPhotoShow</string>
		<key>Durl</key>
		<string>https://github.com/dsxNiubility/SXPhotoShow</string>
		<key>Dtext</key>
		<string>UICollectionViewFlowLayout流水布局 是当下collectionView中常用且普通的布局方式。本代码也写了三种好看的布局，其中LineLayout和流水布局有很大的相同点就直接继承UICollectionViewFlowLayout，然后StackLayout，CircleLayout这两种都是直接继承自最原始的UICollectionViewLayout 布局方案。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PictureWatermark</string>
		<key>Durl</key>
		<string>https://github.com/cgwangding/PictureWatermark</string>
		<key>Dtext</key>
		<string>主要实现了给图片加文字以及图片水印的功能，已封装成了UIImage的类别，方便使用。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CocoaPicker</string>
		<key>Durl</key>
		<string>https://github.com/thebookofleaves/CocoaPicker</string>
		<key>Dtext</key>
		<string>仿 QQ 图片选择器（OC）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>自定义宽高比的相册框拍照</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/320603/</string>
		<key>Dtext</key>
		<string> 取出照片时 弹出自定义view。在这个自定义view上创建一个需要的相框大小的view层 把取出的图片赋值给UIImageView按缩放添加到这个层上。对uiimageView添加捏合、移动 手势。添加按钮 选取，最后根据位移和缩放比例 裁剪image。</string>
	</dict>
</array>
</plist>
