<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>SDWebImage</string>
		<key>Durl</key>
		<string>https://github.com/rs/SDWebImage</string>
		<key>Dtext</key>
		<string>SDWebImage 网络图片获取及缓存处理。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Kingfisher</string>
		<key>Durl</key>
		<string>https://github.com/onevcat/Kingfisher</string>
		<key>Dtext</key>
		<string>纯 Swift 实现的类 SDWebImage 库，实现了异步下载和缓存图片。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KFSwiftImageLoader</string>
		<key>Durl</key>
		<string>https://github.com/kiavashfaisali/KFSwiftImageLoader</string>
		<key>Dtext</key>
		<string>Swift，一个图像缓存加载库。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FastImageCache</string>
		<key>Durl</key>
		<string>https://github.com/path/FastImageCache</string>
		<key>Dtext</key>
		<string>FastImageCache 网络图片获取及缓存处理。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS图片加载速度极限优化—FastImageCache解析</string>
		<key>Durl</key>
		<string>http://www.imooc.com/wenda/detail/247239</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>EGOCache</string>
		<key>Durl</key>
		<string>https://github.com/enormego/EGOCache</string>
		<key>Dtext</key>
		<string>十分知名的第三方缓存类库，可以缓存NSString、UIImage、NSImage以及NSData。除此，如果还可以缓存任何一个实现了&lt;NSCoding&gt;接口的对象。所有缓存的数据都可以自定义过期的时间，默认是1天。EGOCache 支持多线程（thread-safe）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>UITableView加载多张照片导致内存上涨的问题</string>
		<key>Durl</key>
		<string>http://www.superqq.com/blog/2014/11/06/ioskai-fa-:uitableviewjia-zai-duo-zhang-zhao-pian-dao-zhi-nei-cun-shang-zhang-de-wen-ti/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
</array>
</plist>
