<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>vpnon</string>
		<key>Durl</key>
		<string>https://github.com/lexrus/vpnon/</string>
		<key>Dtext</key>
		<string>swift的VPN On 的源码和本地化内容都是开放的。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>vpnon官方网站</string>
		<key>Durl</key>
		<string>https://crowdin.com/project/vpnon</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Hydro.network</string>
		<key>Durl</key>
		<string>https://github.com/CatchChat/Hydro.network</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Hydro.network 的开发旅程</string>
		<key>Durl</key>
		<string>http://zhowkev.in/2015/03/09/hydro-network-de-kai-fa-lu-cheng/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
</array>
</plist>
