<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>Reachability</string>
		<key>Durl</key>
		<string>https://github.com/tonymillion/Reachability</string>
		<key>Dtext</key>
		<string>苹果提供过一个Reachability类，用于检测网络状态。但是该类由于年代久远，并不支持ARC。该项目旨在提供一个苹果的Reachability类的替代品，支持ARC和block的使用方式。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>iOS网络监测如何区分2、3、4G</string>
		<key>Durl</key>
		<string>http://www.jianshu.com/p/efcfa3c87306</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SimpleCarrie</string>
		<key>Durl</key>
		<string>https://github.com/crazypoo/SimpleCarrie</string>
		<key>Dtext</key>
		<string>简单的运营商信息获取!。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>NetReachabilit</string>
		<key>Durl</key>
		<string>https://github.com/crazypoo/SimpleCarrie</string>
		<key>Dtext</key>
		<string>swift2.0 简单的方法检查网络连接的连通性，提供通知中心集成接口。 </string>
	</dict>
</array>
</plist>
