<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>MGTemplateEngine</string>
		<key>Durl</key>
		<string>https://github.com/mattgemmell/MGTemplateEngine</string>
		<key>Dtext</key>
		<string>MGTemplateEngine比较象 PHP 中的 Smarty、FreeMarker 和 Django的模版引擎，是一个轻量级的引擎，简单好用。只要设置很多不同的HMTL模版，就能轻松的实现一个View多种内容格式的显示，对于不熟悉HTML或者减轻 工作量而言，把这些工作让设计分担一下还是很好的，也比较容易实现设计想要的效果。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>NJKWebViewProgress</string>
		<key>Durl</key>
		<string>https://github.com/ninjinkun/NJKWebViewProgress</string>
		<key>Dtext</key>
		<string>一个 UIWebView 的进度条接口库,UIWebView 本身是不提供进度条的。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GTMNSString-HTML</string>
		<key>Durl</key>
		<string>https://github.com/siriusdely/GTMNSString-HTML</string>
		<key>Dtext</key>
		<string>谷歌开源的用于过滤HTML标签。 </string>
	</dict>
</array>
</plist>
