<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>iOS开发进阶，从Xcode开始</string>
		<key>Durl</key>
		<string>http://www.cocoachina.com/special/xcode/</string>
		<key>Dtext</key>
		<string>学习使用Xcode构建出色的应用程序！</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Xcode5 Plugins 开发简介</string>
		<key>Durl</key>
		<string>http://studentdeng.github.io/blog/2014/02/21/xcode-plugin-fun/)  [写个自己的Xcode4插件](http://joeyio.com/ios/2013/07/25/write_xcode4_plugin_of_your_own/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Xcode 4 插件制作入门</string>
		<key>Durl</key>
		<string>http://www.onevcat.com/2013/02/xcode-plugin/</string>
		<key>Dtext</key>
		<string> Xcode 4 插件制作入门:Xcode所使用的所有库都包含在Xcode.app/Contents/的Frameworks，SharedFrameworks和OtherFrameworks三个文件夹下。其中和Xcode关系最为直接以及最为重要的是Frameworks中的IDEKit和IDEFoundation，以及SharedFrameworks中的DVTKit和DVTFoundation四个。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RTImageAssets</string>
		<key>Durl</key>
		<string>https://github.com/rickytan/RTImageAssets</string>
		<key>Dtext</key>
		<string>一个 Xcode 插件，用来生成 @3x 的图片资源对应的 @2x 和 @1x 版本。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Asset Catalog Creator</string>
		<key>Durl</key>
		<string>https://itunes.apple.com/app/asset-catalog-creator-free/id866571115?mt=12</string>
		<key>Dtext</key>
		<string>功能强大，能自动生成全部尺寸：包括App Icons、Image Sets、Launch Screens Generator。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>VVDocumenter-Xcode</string>
		<key>Durl</key>
		<string>https://github.com/onevcat/VVDocumenter-Xcode</string>
		<key>Dtext</key>
		<string> 一个Xcode插件，build后，随手打开一个你之前的项目，然后在任意一个方法上面连按三下&quot;/&quot;键盘，就ok了。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Reveal-Plugin-for-XCode</string>
		<key>Durl</key>
		<string>https://github.com/shjborage/Reveal-Plugin-for-XCode</string>
		<key>Dtext</key>
		<string>一个Reveal插件，可以使工程不作任何修改的情况下使用Reveal，该插件已在Alcatraz上架。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Reveal：分析iOS UI的利器</string>
		<key>Durl</key>
		<string>http://security.ios-wiki.com/issue-3-4/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>java2Objective-c</string>
		<key>Durl</key>
		<string>https://github.com/google/j2objc</string>
		<key>Dtext</key>
		<string>Google公司出得java转Obje-C转换工具，转换逻辑，不转换UI。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>RegX</string>
		<key>Durl</key>
		<string>https://github.com/kzaher/RegX</string>
		<key>Dtext</key>
		<string>专治代码强迫症的 Xcode 插件，使用 Swift 和 Objective-C 编写。其用竖向对齐特定源代码的元素，使得代码更易读和易理解。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KSImageNamed</string>
		<key>Durl</key>
		<string>https://github.com/ksuther/KSImageNamed-Xcode</string>
		<key>Dtext</key>
		<string>自动完成，特别是如果你正在写Objective-C，如果Xcode能自动完成文件名难道不会很伟大吗？比如图像文件的名称。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>FuzzyAutocomplete</string>
		<key>Durl</key>
		<string>https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin</string>
		<key>Dtext</key>
		<string>Xcode的实现自动完成还不完美，此插件能给出你所期望或想要的建议，设置：xcode-》Editor-》FuzzyAutocomplete-》plugin settings。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GitDiff</string>
		<key>Durl</key>
		<string>https://github.com/johnno1962/GitDiff</string>
		<key>Dtext</key>
		<string>Xcode的代码编辑器的一个微妙的补强，加上了足够的可见信息以了解上次git提交以来发生了什么变化，设置：xcode-》Edit-》GitDiff。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XToDo</string>
		<key>Durl</key>
		<string>https://github.com/trawor/XToDo</string>
		<key>Dtext</key>
		<string>这个插件不仅凸显TODO，FIXME，???，以及！！！注释，也在便利列表呈现他们。 菜单：xcode-》view-》snippets;   调出列表显示: xcode-》view-》ToDo List ： ctrl + T 。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Backlight</string>
		<key>Durl</key>
		<string>https://github.com/limejelly/Backlight-for-XCode</string>
		<key>Dtext</key>
		<string>突出显示当前正在编辑的行。菜单：xcode-》view-》Backlight 。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CocoaPods</string>
		<key>Durl</key>
		<string>https://github.com/kattrali/cocoapods-xcode-plugin</string>
		<key>Dtext</key>
		<string>该CocoaPods的插件增加了一个CocoaPods菜单到Xcode的产品菜单。如果你不喜欢命令行，那么你一定会喜欢这个插件。 [用CocoaPods做iOS程序的依赖管理 ]( 
http://tangqiaoboy.gitcafe.io/blog/2014/05/25/use-cocoapod-to-manage-ios-lib-dependency/)。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Peckham</string>
		<key>Durl</key>
		<string>https://github.com/markohlebar/Peckham</string>
		<key>Dtext</key>
		<string>添加import语句比较麻烦，此插件 按Command-Control-P，给出的选项列表中选择要的头文件。先要安装[Alcatraz](http://alcatraz.io/) ,在终端输入： **curl -fsSL https://raw.github.com/supermarin/Alcatraz/master/Scripts/install.sh | sh** ； 重启xcode-》window-》Package Manager：搜索 **Peckham** 安装，打开Peckham.xcodeproj，编译 Peckham target，重启Xcode 。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Auto-Importer</string>
		<key>Durl</key>
		<string>https://github.com/lucholaf/Auto-Importer-for-Xcode</string>
		<key>Dtext</key>
		<string>Auto-Importer是一个自动导入类对应的头文件的Xcode插件。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Alcatraz</string>
		<key>Durl</key>
		<string>http://alcatraz.io/</string>
		<key>Dtext</key>
		<string>使用Alcatraz来管理Xcode插件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KSHObjcUML</string>
		<key>Durl</key>
		<string>https://github.com/kimsungwhee/KSHObjcUML</string>
		<key>Dtext</key>
		<string>KSHObjcUML 是一个 Objective-C 类引用关系图的 Xcode 插件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ColorSense-for-Xcode</string>
		<key>Durl</key>
		<string>https://github.com/omz/ColorSense-for-Xcode</string>
		<key>Dtext</key>
		<string> 颜色插件，安装之后，就不用根据RGB选择颜色，直接从取色板中取颜色，会自动补齐RGB代码。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>10款提高iOS开发效率的XCode插件</string>
		<key>Durl</key>
		<string>http://www.imooc.com/wenda/detail/237132</string>
		<key>Dtext</key>
		<string>10款提高iOS开发效率的XCode插件：1. XcodeColors；5. ACCodeSnippetRepository；10. Dash for Xcode。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZLGotoSandboxPlugin</string>
		<key>Durl</key>
		<string>https://github.com/MakeZL/ZLGotoSandboxPlugin</string>
		<key>Dtext</key>
		<string>支持Xcode快捷键了跳转当前应用沙盒了！快捷键是 Shift+Common+w。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XcodeSwiftSnippets</string>
		<key>Durl</key>
		<string>https://github.com/burczyk/XcodeSwiftSnippets</string>
		<key>Dtext</key>
		<string>XcodeSwiftSnippets, 提供了很多可在 Xcode 上使用的 Swift 代码片段, 通过自动补全的方式极大的提高了开发效率。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CoPilot</string>
		<key>Durl</key>
		<string>https://vimeo.com/128713880</string>
		<key>Dtext</key>
		<string>通过此插件， Xcode 可以协同编程了（采用 WebSocket 通讯）。如此强大的“黑工具”，不爱它能行吗。 
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ESJsonFormat-Xcode</string>
		<key>Durl</key>
		<string>https://github.com/EnjoySR/ESJsonFormat-Xcode</string>
		<key>Dtext</key>
		<string> 将Json格式化输出为模型的属性。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SCXcodeMiniMap</string>
		<key>Durl</key>
		<string>https://github.com/stefanceriu/SCXcodeMiniMap</string>
		<key>Dtext</key>
		<string>Xcode迷你小地图-SCXcodeMiniMap。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>xTransCodelation</string>
		<key>Durl</key>
		<string>http://code.cocoachina.com/detail/316095/xTransCodelation/</string>
		<key>Dtext</key>
		<string>XCODE中英文翻译插件，提供API查询模式和网页模式，都是利用的百度翻译。另外集成了一个可以一键关闭其他所有APP的实用功能，方便开发者！</string>
	</dict>
</array>
</plist>
