<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>EGOTableViewPullRefresh</string>
		<key>Durl</key>
		<string>https://github.com/enormego/EGOTableViewPullRefresh</string>
		<key>Dtext</key>
		<string>最早的下拉刷新控件</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SVPullToRefresh</string>
		<key>Durl</key>
		<string>https://github.com/samvermette/SVPullToRefresh</string>
		<key>Dtext</key>
		<string>下拉刷新控件</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MJRefresh</string>
		<key>Durl</key>
		<string>https://github.com/CoderMJLee/MJRefresh</string>
		<key>Dtext</key>
		<string>仅需一行代码就可以为UITableView或者CollectionView加上下拉刷新或者上拉刷新功能。可以自定义上下拉刷新的文字说明。具体使用看“使用方法”。 （国人写）</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>XHRefreshControl</string>
		<key>Durl</key>
		<string>https://github.com/xhzengAIB/XHRefreshControl</string>
		<key>Dtext</key>
		<string>XHRefreshControl 是一款高扩展性、低耦合度的下拉刷新、上提加载更多的组件。（国人写）</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>CBStoreHouseRefreshControl</string>
		<key>Durl</key>
		<string>https://github.com/coolbeet/CBStoreHouseRefreshControl</string>
		<key>Dtext</key>
		<string>一个效果很酷炫的下拉刷新控件。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BreakOutToRefresh</string>
		<key>Durl</key>
		<string>https://github.com/dasdom/BreakOutToRefresh</string>
		<key>Dtext</key>
		<string>一个下拉刷新打砖块的开源 Swift 库，能让用户在等待下拉刷新的时候边玩撞球游戏边等待。
一个下拉刷新打砖块的开源 Swift 库，能让用户在等待下拉刷新的时候边玩撞球游戏边等待。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>KYJellyPullToRefresh</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/KYJellyPullToRefresh</string>
		<key>Dtext</key>
		<string> 实现弹性物理效果的下拉刷新，神奇的贝塞尔曲线，配合UIDynamic写的一个拟物的下拉刷新动画。
 实现弹性物理效果的下拉刷新，神奇的贝塞尔曲线，配合UIDynamic写的一个拟物的下拉刷新动画。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>MHYahooParallaxView</string>
		<key>Durl</key>
		<string>https://github.com/michaelhenry/MHYahooParallaxView</string>
		<key>Dtext</key>
		<string>类似于Yahoo Weather和News Digest首屏的视差滚动。 </string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>SDRefreshView</string>
		<key>Durl</key>
		<string>https://github.com/gsdios/SDRefreshView</string>
		<key>Dtext</key>
		<string>简单易用的上拉和下拉刷新（多版本细节适配）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ZLSwiftRefresh</string>
		<key>Durl</key>
		<string>https://github.com/MakeZL/ZLSwiftRefresh</string>
		<key>Dtext</key>
		<string>swift下拉刷新/上拉加载更多，支持自定义动画，集成简单，兼容UITableView/CollectionView/ScrollView/WebView。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BreakOutToRefresh</string>
		<key>Durl</key>
		<string>https://github.com/dasdom/BreakOutToRefresh</string>
		<key>Dtext</key>
		<string> swift，上拉和下拉刷新。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>GearRefreshControl</string>
		<key>Durl</key>
		<string>https://github.com/andreamazz/GearRefreshControl</string>
		<key>Dtext</key>
		<string>swift，上拉和下拉刷新。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>refresher</string>
		<key>Durl</key>
		<string>https://github.com/jcavar/refresher</string>
		<key>Dtext</key>
		<string>swift，上拉和下拉刷新。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>可展开/收缩的下拉菜单--SvpplyTable</string>
		<key>Durl</key>
		<string>http://d.cocoachina.com/code/detail/237753</string>
		<key>Dtext</key>
		<string>一个可展开可收缩的下拉菜单，类似Svpply app。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ODRefreshControl</string>
		<key>Durl</key>
		<string>https://github.com/Sephiroth87/ODRefreshControl</string>
		<key>Dtext</key>
		<string> 原iOS6上的橡皮糖刷新样式，很有意思。现在也很多大的 App 在用，比如虾米音乐和 QQ 客户端。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PullToMakeSoup</string>
		<key>Durl</key>
		<string>https://github.com/Yalantis/PullToMakeSoup</string>
		<key>Dtext</key>
		<string> PullToMakeSoup, 自定义下拉刷新的动画效果：煮饭, Yalantis新作！</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>TwitterCover</string>
		<key>Durl</key>
		<string>https://github.com/cyndibaby905/TwitterCover</string>
		<key>Dtext</key>
		<string>Twitter iOS客户端的下拉封面模糊效果。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Replace-iOS</string>
		<key>Durl</key>
		<string>https://github.com/MartinRGB/Replace-iOS</string>
		<key>Dtext</key>
		<string>Replace-iOS 让人眼前一亮的下拉刷新（iOS）。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Animations</string>
		<key>Durl</key>
		<string>https://github.com/KittenYang/Animations</string>
		<key>Dtext</key>
		<string>封装了一下，使用的时候只要两行代码。一些动画的飞机稿，都是一些单独分离出来的用于测试的子动画，现在统一归类一下。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>PullToBounce</string>
		<key>Durl</key>
		<string>https://github.com/entotsu/PullToBounce</string>
		<key>Dtext</key>
		<string>下拉刷新的动画 for UIScrollView。
</string>
	</dict>
</array>
</plist>
