<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Dname</key>
		<string>ReactiveCocoa</string>
		<key>Durl</key>
		<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
		<key>Dtext</key>
		<string>ReactiveCocoa 受函数响应式编程激发。不同于使用可变的变量替换和就地修改，RAC提供Signals来捕获当前值和将来值（</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ReactiveCocoa使用介绍</string>
		<key>Durl</key>
		<string>http://yulingtianxia.com/blog/2014/07/29/reactivecocoa/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Reactive Cocoa 3.0 在 MVVM 中的应用</string>
		<key>Durl</key>
		<string>http://ios.jobbole.com/82232/</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>ReactiveAnimation</string>
		<key>Durl</key>
		<string>https://github.com/ReactiveCocoa/ReactiveAnimation</string>
		<key>Dtext</key>
		<string>ReactiveCocoa 推出了一个叫 ReactiveAnimation 的子项目，直接用完全用 Swift 来实现了。
</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BeeFramework</string>
		<key>Durl</key>
		<string>https://github.com/gavinkwoe/BeeFramework</string>
		<key>Dtext</key>
		<string>与ReactiveCocoa类似。</string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>BeeFramework用户指南 v1.0</string>
		<key>Durl</key>
		<string>http://www.lanrenios.com/tutorials/all/2012/1220/641.html</string>
		<key>Dtext</key>
		<string></string>
	</dict>
	<dict>
		<key>Dname</key>
		<string>Objective-Chain</string>
		<key>Durl</key>
		<string>https://github.com/iMartinKiss/Objective-Chain</string>
		<key>Dtext</key>
		<string>Objective-Chain是一个面向对象的响应式框架，作者表示该框架吸收了 ReactiveCocoa 的思想，并且想做得更面向对象一些。</string>
	</dict>
</array>
</plist>
