<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AFNetworking</string>
		<key>url</key>
		<string>https://github.com/AFNetworking/AFNetworking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SDWebImage</string>
		<key>url</key>
		<string>https://github.com/rs/SDWebImage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GPUImage</string>
		<key>url</key>
		<string>https://github.com/BradLarson/GPUImage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ReactiveCocoa</string>
		<key>url</key>
		<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RestKit</string>
		<key>url</key>
		<string>https://github.com/RestKit/RestKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>three20</string>
		<key>url</key>
		<string>https://github.com/facebookarchive/three20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MBProgressHUD</string>
		<key>url</key>
		<string>https://github.com/jdg/MBProgressHUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MagicalRecord</string>
		<key>url</key>
		<string>https://github.com/magicalpanda/MagicalRecord</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mantle</string>
		<key>url</key>
		<string>https://github.com/Mantle/Mantle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fmdb</string>
		<key>url</key>
		<string>https://github.com/ccgus/fmdb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Masonry</string>
		<key>url</key>
		<string>https://github.com/SnapKit/Masonry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FlatUIKit</string>
		<key>url</key>
		<string>https://github.com/Grouper/FlatUIKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>asi-http-request</string>
		<key>url</key>
		<string>https://github.com/pokeb/asi-http-request</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FastImageCache</string>
		<key>url</key>
		<string>https://github.com/path/FastImageCache</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shimmer</string>
		<key>url</key>
		<string>https://github.com/facebook/Shimmer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SVProgressHUD</string>
		<key>url</key>
		<string>https://github.com/TransitApp/SVProgressHUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alcatraz</string>
		<key>url</key>
		<string>https://github.com/supermarin/Alcatraz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CocoaLumberjack</string>
		<key>url</key>
		<string>https://github.com/CocoaLumberjack/CocoaLumberjack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nimbus</string>
		<key>url</key>
		<string>https://github.com/jverkoey/nimbus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>slate</string>
		<key>url</key>
		<string>https://github.com/jigish/slate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSONKit</string>
		<key>url</key>
		<string>https://github.com/johnezang/JSONKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AsyncDisplayKit</string>
		<key>url</key>
		<string>https://github.com/facebook/AsyncDisplayKit</string>
	</dict>
</array>
</plist>
