<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AFNetworking</string>
		<key>url</key>
		<string>https://github.com/AFNetworking/AFNetworking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SDWebImage</string>
		<key>url</key>
		<string>https://github.com/rs/SDWebImage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GPUImage</string>
		<key>url</key>
		<string>https://github.com/BradLarson/GPUImage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ReactiveCocoa</string>
		<key>url</key>
		<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RestKit</string>
		<key>url</key>
		<string>https://github.com/RestKit/RestKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>three20</string>
		<key>url</key>
		<string>https://github.com/facebookarchive/three20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MBProgressHUD</string>
		<key>url</key>
		<string>https://github.com/jdg/MBProgressHUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MagicalRecord</string>
		<key>url</key>
		<string>https://github.com/magicalpanda/MagicalRecord</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mantle</string>
		<key>url</key>
		<string>https://github.com/Mantle/Mantle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fmdb</string>
		<key>url</key>
		<string>https://github.com/ccgus/fmdb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Masonry</string>
		<key>url</key>
		<string>https://github.com/SnapKit/Masonry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FlatUIKit</string>
		<key>url</key>
		<string>https://github.com/Grouper/FlatUIKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>asi-http-request</string>
		<key>url</key>
		<string>https://github.com/pokeb/asi-http-request</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FastImageCache</string>
		<key>url</key>
		<string>https://github.com/path/FastImageCache</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shimmer</string>
		<key>url</key>
		<string>https://github.com/facebook/Shimmer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SVProgressHUD</string>
		<key>url</key>
		<string>https://github.com/TransitApp/SVProgressHUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alcatraz</string>
		<key>url</key>
		<string>https://github.com/supermarin/Alcatraz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CocoaLumberjack</string>
		<key>url</key>
		<string>https://github.com/CocoaLumberjack/CocoaLumberjack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nimbus</string>
		<key>url</key>
		<string>https://github.com/jverkoey/nimbus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>slate</string>
		<key>url</key>
		<string>https://github.com/jigish/slate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSONKit</string>
		<key>url</key>
		<string>https://github.com/johnezang/JSONKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AsyncDisplayKit</string>
		<key>url</key>
		<string>https://github.com/facebook/AsyncDisplayKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>facebook-ios-sdk</string>
		<key>url</key>
		<string>https://github.com/facebook/facebook-ios-sdk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSQMessagesViewController</string>
		<key>url</key>
		<string>https://github.com/jessesquires/JSQMessagesViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FLEX</string>
		<key>url</key>
		<string>https://github.com/Flipboard/FLEX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>xctool</string>
		<key>url</key>
		<string>https://github.com/facebook/xctool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ViewDeck</string>
		<key>url</key>
		<string>https://github.com/Inferis/ViewDeck</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iCarousel</string>
		<key>url</key>
		<string>https://github.com/nicklockwood/iCarousel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RESideMenu</string>
		<key>url</key>
		<string>https://github.com/romaonthego/RESideMenu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OpenEmu</string>
		<key>url</key>
		<string>https://github.com/OpenEmu/OpenEmu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PNChart</string>
		<key>url</key>
		<string>https://github.com/kevinzhow/PNChart</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VVDocumenter-Xcode</string>
		<key>url</key>
		<string>https://github.com/onevcat/VVDocumenter-Xcode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reachability</string>
		<key>url</key>
		<string>https://github.com/tonymillion/Reachability</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SWTableViewCell</string>
		<key>url</key>
		<string>https://github.com/CEWendel/SWTableViewCell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JVFloatLabeledTextField</string>
		<key>url</key>
		<string>https://github.com/jverdi/JVFloatLabeledTextField</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PonyDebugger</string>
		<key>url</key>
		<string>https://github.com/square/PonyDebugger</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CocoaAsyncSocket</string>
		<key>url</key>
		<string>https://github.com/robbiehanson/CocoaAsyncSocket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TTTAttributedLabel</string>
		<key>url</key>
		<string>https://github.com/TTTAttributedLabel/TTTAttributedLabel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>physical-web</string>
		<key>url</key>
		<string>https://github.com/google/physical-web</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AwesomeMenu</string>
		<key>url</key>
		<string>https://github.com/levey/AwesomeMenu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canvas</string>
		<key>url</key>
		<string>https://github.com/CanvasPod/Canvas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BlocksKit</string>
		<key>url</key>
		<string>https://github.com/zwaldowski/BlocksKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NewsBlur</string>
		<key>url</key>
		<string>https://github.com/samuelclay/NewsBlur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SocketRocket</string>
		<key>url</key>
		<string>https://github.com/square/SocketRocket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tapkulibrary</string>
		<key>url</key>
		<string>https://github.com/devinross/tapkulibrary</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cocos2d-objc</string>
		<key>url</key>
		<string>https://github.com/cocos2d/cocos2d-objc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>realm-cocoa</string>
		<key>url</key>
		<string>https://github.com/realm/realm-cocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ResearchKit</string>
		<key>url</key>
		<string>https://github.com/ResearchKit/ResearchKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ECSlidingViewController</string>
		<key>url</key>
		<string>https://github.com/ECSlidingViewController/ECSlidingViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tweaks</string>
		<key>url</key>
		<string>https://github.com/facebook/Tweaks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>json-framework</string>
		<key>url</key>
		<string>https://github.com/stig/json-framework</string>
	</dict>
	<dict>
		<key>name</key>
		<string>spectacle</string>
		<key>url</key>
		<string>https://github.com/eczarny/spectacle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SlackTextViewController</string>
		<key>url</key>
		<string>https://github.com/slackhq/SlackTextViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KIF</string>
		<key>url</key>
		<string>https://github.com/kif-framework/KIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JazzHands</string>
		<key>url</key>
		<string>https://github.com/IFTTT/JazzHands</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KVOController</string>
		<key>url</key>
		<string>https://github.com/facebook/KVOController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSONModel</string>
		<key>url</key>
		<string>https://github.com/icanzilb/JSONModel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>popping</string>
		<key>url</key>
		<string>https://github.com/schneiderandre/popping</string>
	</dict>
	<dict>
		<key>name</key>
		<string>appirater</string>
		<key>url</key>
		<string>(https://github.com/arashpayan/appirater</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MWPhotoBrowser</string>
		<key>url</key>
		<string>https://github.com/mwaterfall/MWPhotoBrowser</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bolts-iOS</string>
		<key>url</key>
		<string>https://github.com/BoltsFramework/Bolts-iOS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TSMessages</string>
		<key>url</key>
		<string>https://github.com/KrauseFx/TSMessages</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MMDrawerController</string>
		<key>url</key>
		<string>https://github.com/mutualmobile/MMDrawerController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DTCoreText</string>
		<key>url</key>
		<string>https://github.com/Cocoanetics/DTCoreText</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nui</string>
		<key>url</key>
		<string>https://github.com/tombenner/nui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Induction</string>
		<key>url</key>
		<string>https://github.com/Induction/Induction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SVPullToRefresh</string>
		<key>url</key>
		<string>https://github.com/samvermette/SVPullToRefresh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XVim</string>
		<key>url</key>
		<string>https://github.com/XVimProject/XVim</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QuickDialog</string>
		<key>url</key>
		<string>https://github.com/escoz/QuickDialog</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PureLayout</string>
		<key>url</key>
		<string>https://github.com/smileyborg/PureLayout</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EGOTableViewPullRefresh</string>
		<key>url</key>
		<string>https://github.com/enormego/EGOTableViewPullRefresh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cheddar-ios</string>
		<key>url</key>
		<string>https://github.com/nothingmagical/cheddar-ios</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JASidePanels</string>
		<key>url</key>
		<string>https://github.com/gotosleep/JASidePanels</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FormatterKit</string>
		<key>url</key>
		<string>https://github.com/mattt/FormatterKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iOS-boilerplate</string>
		<key>url</key>
		<string>https://github.com/gimenete/iOS-boilerplate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XMPPFramework</string>
		<key>url</key>
		<string>https://github.com/robbiehanson/XMPPFramework</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FXBlurView</string>
		<key>url</key>
		<string>https://github.com/nicklockwood/FXBlurView</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PromiseKit</string>
		<key>url</key>
		<string>https://github.com/mxcl/PromiseKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MacGap1</string>
		<key>url</key>
		<string>https://github.com/MacGapProject/MacGap1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>macdown</string>
		<key>url</key>
		<string>https://github.com/uranusjr/macdown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MSDynamicsDrawerViewController</string>
		<key>url</key>
		<string>https://github.com/erichoracek/MSDynamicsDrawerViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KSImageNamed-Xcode</string>
		<key>url</key>
		<string>https://github.com/ksuther/KSImageNamed-Xcode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WebViewJavascriptBridge</string>
		<key>url</key>
		<string>https://github.com/marcuswestin/WebViewJavascriptBridge</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
