<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Cocoa</string>
		<key>name</key>
		<string>cocoachinabbs</string>
		<key>function</key>
		<string>CocoaChina 苹果开发中文社区官方微信，提供教程资源、app 推广营销、招聘、外包及培训信息、各类沙龙交流活动以及更多开发者服务。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>程序员的那些事</string>
		<key>name</key>
		<string>iProgrammer</string>
		<key>function</key>
		<string>最有趣影响力的程序员自媒体，关注程序员相关话题：IT 技术、IT 职场、在线课程、学习资源等。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS大全</string>
		<key>name</key>
		<string>iOShub</string>
		<key>function</key>
		<string>iOS 大全专注分享 iOS 和 Mac 相关内容，包括 iOS 和 Swift 开发技术文章、工具资源、产品设计、营销推广和行业资讯。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Linux爱好者</string>
		<key>name</key>
		<string>LinuxHub</string>
		<key>function</key>
		<string>Linux 爱好者专注分享 Linux/Unix 相关内容，包括：工具资源、使用技巧、课程、书籍等。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mac Talk</string>
		<key>name</key>
		<string>sagacity-mac</string>
		<key>function</key>
		<string>账号开通于2012年末，内容起于 Mac 而不止 Mac，讲述技术与人文的故事，释放编程与写作的力量。行文采用了一种技术和人生感悟相结合的风格，文字简单、内容有趣。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>唐巧</string>
		<key>name</key>
		<string>iosDevTips</string>
		<key>function</key>
		<string>唐巧 - Info 编辑，《iOS开发进阶》作者，主要分享 iOS 开发文章和创业感悟。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CSDN</string>
		<key>name</key>
		<string>CSDNnews</string>
		<key>function</key>
		<string>CSDN精彩内容每日推荐。我们关注 IT 产品研发背后的那些人、技术和故事。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>36氪</string>
		<key>name</key>
		<string>wow36kr</string>
		<key>function</key>
		<string>36氪(36Kr.com)是中国领先的科技新媒体、我们报道最新的互联网科技新闻以及最有潜力的互联网创业企业。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>伯乐在线</string>
		<key>name</key>
		<string>jobbole</string>
		<key>function</key>
		<string>关注职业咨询；学习各类职业感悟、心得和经验分享，扩大职业视野；体会求职、工作和创业的历程 - 就在 JobBole.com 伯乐在线</string>
	</dict>
	<dict>
		<key>title</key>
		<string>dotNET跨平台</string>
		<key>name</key>
		<string>opendotnet</string>
		<key>function</key>
		<string>在这里你可以谈微软 NET，Mono 的跨平台开发技术，也可以谈谈其他的跨平台技术。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>极客公园</string>
		<key>name</key>
		<string>geekpark</string>
		<key>function</key>
		<string>科技创新者的大本营。汇聚优秀的产品报道、评测视频和高质量的线下活动。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>appsolution</string>
		<key>name</key>
		<string>appsolution</string>
		<key>function</key>
		<string>专注于推荐新酷精华应用.主打 iOS/Android 平台,是国内最早、用户最多的 App 推荐认证公众号.支持自定义菜单及机器人查询.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>果壳网</string>
		<key>name</key>
		<string>Guokr42</string>
		<key>function</key>
		<string>果壳网（Guokr.com）是开放、多元的泛科技兴趣社区</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小道消息</string>
		<key>name</key>
		<string>WebNotes</string>
		<key>function</key>
		<string>小道消息，只有小道消息才能拯救中国互联网；只有小道消息才能拯救中国创业者。不关注小道消息，关注谁？</string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
</array>
</plist>
