<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>OneV&apos;s Den</string>
		<key>url</key>
		<string>http://onevcat.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>破船之家</string>
		<key>url</key>
		<string>http://beyondvincent.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NSHipster</string>
		<key>url</key>
		<string>http://nshipster.cn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Limboy 无网不剩</string>
		<key>url</key>
		<string>http://blog.leezhong.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>唐巧的技术博客</string>
		<key>url</key>
		<string>http://blog.devtang.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lex Tang</string>
		<key>url</key>
		<string>http://lexrus.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>念茜的博客</string>
		<key>url</key>
		<string>http://nianxi.net</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Xcode Dev</string>
		<key>url</key>
		<string>http://blog.xcodev.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ted&apos;s Homepage</string>
		<key>url</key>
		<string>http://wufawei.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>txx&apos;s blog</string>
		<key>url</key>
		<string>http://blog.t-xx.me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kevin Blog</string>
		<key>url</key>
		<string>http://zhowkev.in</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿毛的蛋疼地</string>
		<key>url</key>
		<string>http://www.xiangwangfeng.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亚庆的 Blog</string>
		<key>url</key>
		<string>http://billwang1990.github.io</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nonomori</string>
		<key>url</key>
		<string>http://nonomori.farbox.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>言无不尽</string>
		<key>url</key>
		<string>http://tang3w.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wonderffee&apos;s Blog</string>
		<key>url</key>
		<string>http://wonderffee.github.io</string>
	</dict>
	<dict>
		<key>name</key>
		<string>I&apos;m TualatriX</string>
		<key>url</key>
		<string>http://imtx.me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cocoabit</string>
		<key>url</key>
		<string>http://blog.cocoabit.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nixzhu on scriptogr.am</string>
		<key>url</key>
		<string>http://nixzhu.me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不会开机的男孩</string>
		<key>url</key>
		<string>http://studentdeng.github.io</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nico</string>
		<key>url</key>
		<string>http://blog.inico.me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿峰的技术窝窝</string>
		<key>url</key>
		<string>http://hufeng825.github.io</string>
	</dict>
	<dict>
		<key>name</key>
		<string>answer_huang</string>
		<key>url</key>
		<string>http://answerhuang.duapp.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>webfrogs</string>
		<key>url</key>
		<string>http://blog.nswebfrog.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>代码手工艺人</string>
		<key>url</key>
		<string>http://joeyio.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lancy&apos;s Blog</string>
		<key>url</key>
		<string>http://gracelancy.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>I&apos;m Allen</string>
		<key>url</key>
		<string>http://www.imallen.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Travis&apos; Blog</string>
		<key>url</key>
		<string>http://imi.im/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王中周的技术博客</string>
		<key>url</key>
		<string>http://wangzz.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>会写代码的猪</string>
		<key>url</key>
		<string>http://jiajun.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>克伟的博客</string>
		<key>url</key>
		<string>http://wangkewei.cnblogs.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>摇滚诗人</string>
		<key>url</key>
		<string>http://cnblogs.com/biosli</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luke&apos;s Homepage</string>
		<key>url</key>
		<string>http://geeklu.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萧宸宇</string>
		<key>url</key>
		<string>http://iiiyu.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yuan博客</string>
		<key>url</key>
		<string>http://www.heyuan110.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shining IO</string>
		<key>url</key>
		<string>http://shiningio.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YIFEIYANG--易飞扬的博客</string>
		<key>url</key>
		<string>http://www.yifeiyang.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KooFrank&apos;s Blog</string>
		<key>url</key>
		<string>ttp://koofrank.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hello it works</string>
		<key>url</key>
		<string>http://helloitworks.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>码农人生</string>
		<key>url</key>
		<string>http://msching.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玉令天下的Blog</string>
		<key>url</key>
		<string>http://yulingtianxia.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不掏蜂窝的熊</string>
		<key>url</key>
		<string>http://www.hotobear.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猫·仁波切</string>
		<key>url</key>
		<string>https://andelf.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>煲仔饭</string>
		<key>url</key>
		<string>http://ivoryxiong.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>里脊串的开发随笔</string>
		<key>url</key>
		<string>http://adad184.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chun Tips</string>
		<key>url</key>
		<string>http://chun.tips/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Why&apos;s blog - 汪海的实验室</string>
		<key>url</key>
		<string>http://blog.callmewhy.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土土哥的技术Blog</string>
		<key>url</key>
		<string>http://tutuge.me/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>庞海礁的个人空间 </string>
		<key>url</key>
		<string>http://www.olinone.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Casa Taloyum</string>
		<key>url</key>
		<string>http://casatwy.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kenshin Cui&apos;s Blog</string>
		<key>url</key>
		<string>http://www.cnblogs.com/kenshincui/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>技术哥的博客</string>
		<key>url</key>
		<string>http://suenblog.duapp.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老谭笔记</string>
		<key>url</key>
		<string>http://www.tanhao.me/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>coderyi</string>
		<key>url</key>
		<string>http://www.coderyi.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雷纯锋的技术博客</string>
		<key>url</key>
		<string>http://blog.leichunfeng.com)</string>
	</dict>
</array>
</plist>
